.backtotop {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  overflow: visible;
  z-index: auto;
  .backtotop__container {
    position: absolute;
    bottom: 100px;
    right: -83px;
    width: 100px;
    transform: rotate(90deg);
    transform-origin: left;
    z-index: 1000;
    &:before {
      position: absolute;
      top: 10px;
      left: 0;
      content: '';
      width: 47px;
      height: 1px;
      background-color: #927b5d;
    }
    button {
      padding: 0 0 0 55px;
      font-family: 'Metropolis', sans-serif;
      font-size: 12px;
      letter-spacing: 0.065em;
    }
  }
}