.columnblock02 {
  position: relative;
  background-color: #ffffff;
  height: auto;
  padding: 60px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  &.is-reverse {
    flex-direction: column;
  }
  .columnblock02__wrap01 {
    width: 100%;
  }
  .columnblock02__wrap02 {
    width: 100%;
  }
  figure {
    img {
      max-width: 100%;
    }
    figcaption {
      margin: 10px 0 0;
      font-size: 12px;
      line-height: 16px;
      color: #000;
    }
  }
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.025em;
    color: #000;
    span {
      display: block;

    }
  }
}

@include min-screen($breakpoint-tb){
  .columnblock02 {
    position: relative;
    height: auto;
    padding: 0 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    &.is-reverse {
      flex-direction: row-reverse;
      .columnblock02__wrap02 {
        padding: 0 40px 0 0;
      }
    }
    .columnblock02__wrap01 {
      width: 50%;
    }
    .columnblock02__wrap02 {
      padding: 0 0 0 40px;
      width: 50%;
    }
    figure {
      img {
        max-width: 100%;
      }
      figcaption {
        margin: 10px 0 0;
        font-size: 14px;
        line-height: 23.15px;
        letter-spacing: 0.025em;
      }
    }
    p {
      font-size: 18px;
      line-height: 36.15px;
      letter-spacing: 0.025em;
      span {
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0.025em;
      }
    }
  }
}