.columnblock03 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  &.adjust-head {
    h3 {
      height: 40px;
    }
  }
  h3 {
    padding: 8px 0 0;
    font-size: 15px;
    line-height: 17.5px;
    font-weight: bold;
    color: #927b5d;
    text-align: center;
    span {
      display: block;
      text-align: center;
      font-size: 9px;
      line-height: 23px;
      letter-spacing: -0.1em;
      color: #927b5d;
    }
  }
  p {
    padding: 8px 0 0;
    font-size: 12px;
    line-height: 18px;
    color: #191d23;
  }
  &.col_3 {
    margin: -25px 0 0;
    > div {
      margin: 25px 0 0;
      width: calc(100% / 2 - 13.5px);
    }
  }
  &.col_4 {
    margin: -25px 0 0;
    > div {
      margin: 25px 0 0;
      width: calc(100% / 2 - 13.5px);
    }
  }
  &.col_8-4 {
    > div {
      &:first-child {
        width: 100%;
      }
      &:last-child {
        margin: 25px 0 0;
        width: calc(50% - 13.5px);
      }
    }
  }
  &.col_6 {
    > div {
      width: calc(100% / 2 - 13.5px);
    }
  }
  &.col_x5 {
    > div {
      width: calc(100% / 5);
    }
  }
}

@include min-screen($breakpoint-tb){
  .columnblock03 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    &.adjust-head {
      h3 {
        height: 70px;
      }
    }
    h3 {
      padding: 10px 0 0;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      color: #927b5d;
      text-align: center;
      span {
        display: block;
        text-align: center;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 0;
        color: #927b5d;
      }
    }
    p {
      padding: 20px 0 0;
      font-size: 18px;
      line-height: 31px;
      color: #191d23;
    }
    &.col_3 {
      margin: 0;
      > div {
        margin: 0;
        width: calc(100% / 4 - 11.5px);
      }
    }
    &.col_4 {
      margin: 0;
      > div {
        margin: 0;
        width: calc(100% / 3 - 43.5px);
      }
    }
    &.col_8-4 {
      > div {
        &:first-child {
          width: calc(100% / 12 * 8 - 21.75px);
        }
        &:last-child {
          margin: 0;
          width: calc(100% / 12 * 4 - 43.5px);
        }
      }
    }
    &.col_6 {
      > div {
        width: calc(100% / 2 - 39px);
      }
    }
    &.col_x5 {
      > div {
        width: calc(100% / 5);
      }
    }
  }
}