.lang-en {
  .columnblock01 {
    .columnblock01__wrapper {
      h3 {
        font-family: 'Estandar', serif;
      }
    }
  }
  @include min-screen($breakpoint-tb) {
    .columnblock01 {
      height: auto;
      padding: 100px 135px;
      &:nth-child(odd) {
        height: auto;
      }
    }
  }
}

.columnblock01 {
  position: relative;
  background-color: #181b22;
  height: auto;
  padding: 190px 17px;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  padding-bottom: 90px;
  &:nth-child(odd){
    justify-content: flex-start;
    height: auto;
    padding-bottom: 190px;
    .columnblock01__wrapper {
      padding: 0;
      h3 {
        padding: 0;
      }
    }
    figure {
      left: auto;
      right: 17px;
    }
  }
  figure {
    width: 223px;
    position: absolute;
    top: -40px;
    left: 17px;
    z-index: -1;
    &:after {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,.2);
      z-index: 5;
    }
  }
  .columnblock01__wrapper {
    width: 576px;
    padding: 0;
    box-sizing: content-box;
    h3 {
      font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
      font-size: 19px;
      font-weight: bold;
      line-height: 35px;
      letter-spacing: 0.14em;
      color: #ffffff;
      padding: 0 0 0 50px;
    }
    p {
      font-size: 13px;
      line-height: 27px;
      color: #ffffff;
      padding: 40px 0 0;
    }
  }
}

@include min-screen($breakpoint-tb){
  .columnblock01 {
    height: 700px;
    padding: 100px 135px 0;
    display: flex;
    justify-content: flex-end;
    &:nth-child(odd){
      justify-content: flex-start;
      height: 800px;
      .columnblock01__wrapper {
        padding: 0 0 0 60px;
        h3 {
          padding: 0;
        }
      }
      figure {
        right: 133px;
      }
    }
    figure {
      width: auto;
      top: -83px;
      left: 133px;
      z-index: -1;
      &:after {
        //display: none;
      }
    }
    .columnblock01__wrapper {
      width: 576px;
      padding: 0 60px 0 0;
      h3 {
        font-size: 31px;
        line-height: 47.91px;
        letter-spacing: 0.14em;
        padding: 0;
      }
      p {
        font-size: 18px;
        line-height: 38px;
      }
    }
  }
}