.lang-en {
  footer .footer__container .upper .address p {
    padding: 10px 30px 0 0;
  }
  @include min-screen($breakpoint-tb) {
    .heroblock01__lead {
      padding: 0 5vw 0 30px;
    }
    footer .footer__container .upper .address p {
      padding: 10px 45px 0 0;
    }
  }
}

footer {
  position: relative;
  background-color: #1a1e25;
  .footer__container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 45px 10px 0;
    .upper {
      &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 0 70px;
      }
      .address {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        a {
          position: relative;
          font-family: "URW DIN", sans-serif;
          font-size: 15px;
          letter-spacing: 0.06em;
          color: #ffffff;
          padding: 0 0 7px;
          &:after {
            position: absolute;
            bottom: 4px;
            left: 0;
            content: '';
            width: 100%;
            height: 1px;
            background-color: #bac1d5;
          }
        }
        p {
          padding: 10px 0 0;
          font-size: 10px;
          letter-spacing: 0.04em;
          color: #bababa;
        }
      }
      .btn__contact {
        position: relative;
        margin: 0;
        display: inline-block;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
        &:before {
          right: -17px;
          border-top: 1px solid #bcbcbc;
          border-right: 1px solid #bcbcbc;
        }
        &:after {
          left: -17px;
          border-bottom: 1px solid #bcbcbc;
          border-left: 1px solid #bcbcbc;
        }
        &:before, &:after {
          position: absolute;
          content: '';
          transform: rotate(54deg) skewX(20deg);
          width: 34px;
          height: 34px;
          top: 11px;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid #bcbcbc;
          border-bottom: 1px solid #bcbcbc;
          height: 58px;
          font-family: "Metropolis", sans-serif;
          padding: 0 85px;
          font-size: 11px;
          color: #ffffff;
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            width: 21px;
            height: 1px;
            background-color: #846e51;
          }
        }
      }
      .company {
        position: relative;
        top: -100px;
        padding: 0;
        .logo {
          margin: 0 auto 10px;
          width: 127px;
        }
        p {
          font-size: 10.9px;
          line-height: 20px;
          letter-spacing: 0.04em;
          color: #bababa;
          text-align: center;
        }
      }
    }

  }
  .lower {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #3e3f40;
    p {
      font-family: "URW DIN", sans-serif;
      font-size: 9px;
      letter-spacing: 0.06em;
      color: #a6adaf;
      text-align: center;
    }
  }
}

@include min-screen($breakpoint-tb) {
  footer {
    .footer__container {
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
      padding: 90px 10px 0;
      .upper {
        &__contact {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: row;
          padding: 0;
        }
        .address {
          width: 520px;
          margin: 0;
          display: flex;
          justify-content: space-between;
          a {
            font-size: 23.13px;
            letter-spacing: 0.06em;
            padding: 0 0 7px;
            &:after {
              bottom: 4px;
              left: 0;
              width: 100%;
              height: 1px;
            }
          }
          p {
            padding: 10px 0 0;
            font-size: 15.09px;
            letter-spacing: 0.04em;
          }
        }
        .btn__contact {
          margin: 0 20px;
          top: auto;
          left: auto;
          transform: translateX(0);
          &:hover {
            &:before, &:after {
              background-color: #927b5d;
            }
            a {
              background-color: #927b5d;
              color: #ffffff;
              &:after {
                left: 61px;
                width: 10px;
                background-color: #ffffff;
              }
            }
          }
          &:before {
            right: -17px;
          }
          &:after {
            left: -17px;
          }
          &:before, &:after {
            transform: rotate(54deg) skewX(20deg);
            width: 34px;
            height: 34px;
            top: 11px;
          }
          a {
            display: flex;
            justify-content: center;
            height: 58px;
            padding: 0 85px;
            font-size: 14px;
            &:after {
              left: 50px;
              width: 21px;
              height: 1px;
              transition: all 500ms 100ms;
            }
          }
        }
        .company {
          padding: 70px 0 30px;
          top: auto;
          .logo {
            margin: 0 auto 10px;
            width: 160px;
          }
          p {
            font-size: 15.09px;
            line-height: 39.04px;
            letter-spacing: 0.04em;
          }
        }
      }

    }
    .lower {
      width: 100%;
      padding: 20px 0;
      p {
        font-size: 10px;
        letter-spacing: 0.06em;
      }
    }
  }
}