$color-menu-text: #ffffff;

.header_menu {
  position: relative;
  z-index: 1500;
  &.is-white {
    .btn__open {
      &:before, &:after {
        background-color: #000000;
      }
    }
    header {
      .header__inner {
        .logo {
          a {
            background-image: url("/assets/images/logo-bk.png");
          }
        }
      }
    }
  }
  .btn__open {
    position: fixed;
    display: block;
    width: 31px;
    height: 11.5px;
    top: 23px;
    right: 17px;
    z-index: 2100;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 31px;
      height: 2px;
      left: 0;
      background-color: #ffffff;
      transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    &:before {
      top: 0;
    }
    &:after {
      top: 9.5px;
    }
  }
  &.is-open {
    .btn__open {
      &:before, &:after {
        background-color: #ffffff;
      }
      &:before {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }
      &:after {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
      }
    }
    header {
      overflow-y: scroll;
      height: auto;
      z-index: 100;
      transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
      background-color: rgba(0,0,0,0.85);
      .header__inner {
        ul {
          display: flex;
          animation: headermenu-show 1s linear 0s both;
        }
        .logo {
          a {
            background-image: url("/assets/images/logo.png");
          }
        }
      }
    }
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
    height: 80px;
    z-index: 2000;
    .header__inner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: 520px;
      margin: 0 auto 0;
      padding: 80px 0 0;
      background-color: transparent;
      overflow-y: scroll;
      ul {
        display: none;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
        opacity: 0;
        &:first-child {
          padding: 20px 0 0;
        }
        li {
          width: auto;
          padding: 7px 5px;
          a {
            position: relative;
            display: block;
            font-family: Estandar, sans-serif;
            font-size: 15.27px;
            line-height: 36.18px;
            color: $color-menu-text;
            text-decoration: none;
            transition: transform 300ms;
            &:before {
              content: '';
              position: absolute;
              bottom: 5px;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: #bda17d;
              transition: all 300ms;
              transform: scaleX(0);
              transform-origin: left;
            }
            &:visited {
              color: $color-menu-text;
            }
            &.active {
              color: #bda17d;
              font-size: 0;
              &:before {
                transform: scaleX(1);
              }
              &:after {
                content: attr(data-active);
                position: relative;
                font-size: 15.27px;
              }
            }
            &:hover {
              color: #bda17d;
              &:before {
                transform: scaleX(1);
              }
            }
          }
        }
      }
      .logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        a {
          position: relative;
          display: block;
          top: 16px;
          width: 66.5px;
          height: 44px;
          background-image: url("/assets/images/logo.png");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .menu_sns {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 76px;
        margin: 30px 0 0;
        a {
          background-size: contain;
          background-repeat: no-repeat;
        }
        .instagram {
          width: calc(33px / 2);
          height: calc(36px / 2);
          background-image: url("/assets/images/insta.png");
        }
        .facebook {
          width: calc(20px / 2);
          height: calc(36px / 2);
          background-image: url("/assets/images/fb.png");
        }
      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .header_menu {
    &.is-white {
      header {
        .header__inner {
          ul {
            li {
              a {
                color: #292929;
                &:visited {
                  color: #292929;
                }
              }
            }
          }
          .logo {
            a {
              background-image: url("/assets/images/logo-bk.png");
            }
          }
        }
      }
    }
    .btn__open {
      display: none;
    }
    header {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
      .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 980px;
        height: 150px;
        margin: 0 auto 0;
        padding: 0;
        background-color: transparent;
        overflow: hidden;
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: row;
          width: 380px;
          opacity: 1;
          &:first-child {
            padding: 0;
          }
          li {
            width: auto;
            padding: 0 5px;
            a {
              font-size: 15.27px;
              line-height: 36.18px;
              &:before {
                bottom: 5px;
                left: 0;
                width: 100%;
                height: 3px;
              }
              &.active {
                color: #bda17d;
                font-size: 0;
                &:before {
                  transform: scaleX(1);
                }
                &:after {
                  content: attr(data-active);
                  position: relative;
                  font-size: 15.27px;
                }
              }
              &:hover {
                color: #bda17d;
                &:before {
                  transform: scaleX(1);
                }
              }
            }
          }
        }
        .logo {
          position: relative;
          top: auto;
          left: auto;
          transform: translateX(0);
          a {
            display: block;
            top: 16px;
            width: 159px;
            height: 104px;
          }
        }
        .menu_sns {
          display: none;
        }
      }
    }
  }
}

@keyframes headermenu-show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}