.lang-en {
  .heroblock02__heading {
    h3 {
      letter-spacing: 0.06em;
    }
  }
}

.heroblock02 {
  position: relative;
  width: 100%;
  margin: 0;
  display: inline-block;
  padding-top: 100%;
  float: left;
  transition: all 600ms;
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: center;
  > a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 600ms;
    border-style: solid;
    border-color: #ffffff;
    border-width: 17px;
  }
  &:nth-child(2){
    top: -17px;
  }
  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 0 20px;
    width: 155px;
    &:before {
      position: absolute;
      content: attr(data-index);
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 300;
      color: #ffffff;
      font-size: 15px;
      letter-spacing: 0.06em;
      transform: rotate(-90deg);
      top: 4.5px;
      left: 0;
    }
    h2 {
      position: relative;
      display: inline-block;
      font-family: Estandar, sans-serif;
      color: #ffffff;
      font-size: 20px;
      letter-spacing: 0.24em;
      padding: 4px 0;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        background-image: url("/assets/images/line_hdg.png");
        bottom: 0;
        left: 0;
      }
    }
    h3 {
      font-size: 11.57px;
      letter-spacing: 0.26em;
      color: #ffffff;
      padding: 10px 0 0;
    }
  }
}

@include min-screen($breakpoint-tb) {
  .heroblock02 {
    position: relative;
    width: 50%;
    margin: 0;
    display: inline-block;
    padding-top: 50%;
    float: left;
    transition: all 600ms;
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-size: 120%;
      > a {
        border-width: 20px;
      }
    }
    > a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      transition: all 600ms;
      border-style: solid;
      border-width: 0;
      border-color: #1a1e25;
    }
    &:nth-child(2){
      top: 0;
    }
    &__heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 0 0 30px;
      width: auto;
      &:before {
        position: absolute;
        content: attr(data-index);
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 300;
        color: #a99a88;
        font-size: 21.06px;
        letter-spacing: 0.06em;
        transform: rotate(-90deg);
        top: 9px;
        left: 0;
      }
      h2 {
        position: relative;
        display: inline-block;
        font-family: Estandar, sans-serif;
        color: #927b5d;
        font-size: 32.69px;
        letter-spacing: 0.24em;
        padding: 4px 0;
        &:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 4px;
          background-image: url("/assets/images/line_hdg.png");
          bottom: 0;
          left: 0;
        }
      }
      h3 {
        font-size: 14px;
        letter-spacing: 0.26em;
        color: #ffffff;
        padding: 10px 0 0;
      }
    }
  }
}