.lang-en {
  .heroblock04 {
    h1 {
      font-family: 'Estandar', serif;
      padding: 0 20px;
    }
    p {
      padding: 37px 20px 0;
    }
  }
  @include min-screen($breakpoint-tb) {
    .heroblock04 {
      h1 {
        font-family: 'Estandar', serif;
      }
      p {
        padding: 90px 100px 0;
      }
    }
  }
}

.heroblock04 {
  position: relative;
  width: 100%;
  padding: 70px 0 0;
  height: auto;
  h1 {
    font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 0.14em;
    text-align: center;
  }
  p {
    padding: 37px 0 0;
    font-size: 13px;
    line-height: 27px;
    letter-spacing: 0.045em;
    text-align: center;
  }
}

@include min-screen($breakpoint-tb){
  .heroblock04 {
    position: relative;
    width: 100%;
    padding: 150px 0 0;
    height: 1000px;
    h1 {
      font-size: 26.64px;
      font-weight: bold;
      line-height: 41.14px;
      letter-spacing: 0.14em;
      text-align: center;
    }
    p {
      padding: 90px 0 0;
      font-size: 18px;
      line-height: 44.16px;
      letter-spacing: 0.045em;
      text-align: center;
    }
  }
}