.lang-en {
  .heroblock05__heading {
    h2 {
      font-family: 'Estandar', serif;
    }
  }
  @include min-screen($breakpoint-tb) {
    .heroblock05 {
      padding: 295px 0 0;
    }
    .heroblock05__heading {
      h2 {
        font-size: 28px;
        line-height: 40px;
        &:after {
          top: 7px;
        }
      }
    }
    .heroblock05__content {
      p {
        font-size: 16px;
        line-height: 32px;
      }
    }
  }
}

.heroblock05 {
  position: relative;
  width: 100%;
  height: auto;
  padding: 100px 0 0;
  &.is-white {
    .heroblock05__heading {
      &:before {
        color: #ffffff;
      }
    }
    h2 {
      &:before {
        background-color: #ffffff;
      }
      &:after {
        color: #ffffff;
      }
    }
  }
  &__heading {
    position: relative;
    padding: 0 0 0 115px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &.is-index {
      &:before {
        letter-spacing: 0.12em;
      }
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: attr(data-index);
      color: #927b5d;
      font-family: 'Estandar', sans-serif;
      font-size: 88px;
      letter-spacing: 0.02em;
    }
    h2 {
      position: relative;
      font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0;
      color: #303030;
      padding: 25px 17px 0 0;
      margin: 7px 0 0;
      &:before {
        position: absolute;
        top:11.5px;
        left: 0;
        display: inline-block;
        content: '';
        width: 11.5px;
        height: 1px;
        background-color: #927b5d;
      }
      &:after {
        position: absolute;
        top: 0;
        left: 20px;
        display: inline-block;
        content: attr(data-sub);
        color: #927b5d;
        font-family: 'Estandar', sans-serif;
        font-size: 10px;
        letter-spacing: 0.12em;
      }
      &.is-white {
        color: #ffffff;
      }
    }
  }
  &__content {
    position: relative;
    padding: 0 17px;
    width: 100%;
    z-index: 1;
    margin: 300px 0 0;
    &.is-white {
      h3 {
        color: #ffffff;
      }
      p {
        color: #ffffff;
      }
    }
    p {
      font-size: 13px;
      line-height: 27px;
      letter-spacing: 0.025em;

    }
  }
}

br.only-pc {
  display: none;
}
br.only-sp {
  display: block;
}
@include min-screen($breakpoint-tb){
  .heroblock05 {
    position: relative;
    width: 100%;
    height: 830px;
    padding: 185px 0 0;
    &.is-white {
      .heroblock05__heading {
        &:before {
          color: #ffffff;
        }
      }
      h2 {
        &:before {
          background-color: #ffffff;
        }
        &:after {
          color: #ffffff;
        }
      }
    }
    &__heading {
      position: relative;
      padding: 0 0 0 220px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &.is-index {
        &:before {
          letter-spacing: 0.12em;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-index);
        color: #927b5d;
        font-family: 'Estandar', sans-serif;
        font-size: 176px;
        letter-spacing: 0.02em;
      }
      h2 {
        position: relative;
        font-size: 32px;
        line-height: 54.69px;
        letter-spacing: 0.1em;
        color: #303030;
        padding: 50px 0 0;
        margin: 15px 0 0;
        &:before {
          position: absolute;
          top: 24.5px;
          left: 0;
          display: inline-block;
          content: '';
          width: 23px;
          height: 1px;
          background-color: #927b5d;
        }
        &:after {
          position: absolute;
          top: 0;
          left: 30px;
          display: inline-block;
          content: attr(data-sub);
          color: #927b5d;
          font-family: 'Estandar', sans-serif;
          font-size: 16.78px;
          letter-spacing: 0.12em;
        }
        &.is-white {
          color: #ffffff;
        }
      }
    }
    &__content {
      position: relative;
      padding: 20px 0 0 220px;
      width: 820px;
      margin: 0;
      &.is-white {
        h3 {
          color: #ffffff;
        }
        p {
          color: #ffffff;
        }
      }
      p {
        font-size: 18px;
        line-height: 36.17px;
        letter-spacing: 0.025em;
      }
    }
  }
  br.only-pc {
    display: block;
  }
  br.only-sp {
    display: none;
  }
}