.lang-en {
  .heroblock03 {
    .container {
      h3 {
        width: 50%;
        font-family: 'Estandar', serif;
      }
    }
  }
  @include min-screen($breakpoint-tb) {
    .heroblock03 {
      .container {
        h3 {
          width: 100%;
          font-size: 32.87px;
          font-family: 'Estandar', serif;
        }
      }
    }
  }
}

.heroblock03 {
  position: relative;
  width: 100%;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: right 65px;
  background-color: #cdd4dc;
  .container {
    position: relative;
    padding: 40px 17px;
    width: 100%;
    box-sizing: border-box;
    h2 {
      position: relative;
      font-family: "Estandar", sans-serif;
      font-size: 21px;
      letter-spacing: 0.2em;
      display: inline-block;
      padding: 0 0 10px;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 4px;
        background-image: url("/assets/images/line_hdg-bk.png");
        background-repeat: repeat-x;
      }
    }
    h3 {
      font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
      font-size: 22.21px;
      font-weight: bold;
      line-height: 33.62px;
      letter-spacing: 0.04em;
      color: #070708;
      padding: 40px 0 0;
      br {
        &.sp-only {
          display: block;
        }
      }
    }
    b {
      display: inline-block;
      padding: 20px 0 0;
      font-size: 18px;
      font-weight: bold;
      line-height: 32.625px;
      letter-spacing: 0.14em;
      color: #070708;
      span {
        font-weight: bold;
        font-size: 12px;
        line-height: 15.84px;
        letter-spacing: 0.14em;
        color: #070708;
        display: inline-block;
        margin: 0 20px 0 0;
      }
    }
    p {
      padding: 30px 0 0;
      font-size: 13px;
      line-height: 27px;
      letter-spacing: 0.025em;
      color: #070708;
    }
  }
}

@include min-screen($breakpoint-tb){
  .heroblock03 {
    width: 100%;
    background-size: cover;
    background-position: 50% bottom;
    background-color: #cdd4dc;
    .container {
      padding: 95px 135px;
      width: 557px;
      box-sizing: content-box;
      h2 {
        font-size: 32.87px;
        letter-spacing: 0.2em;
        display: inline-block;
        padding: 0 0 10px;
        &:after {
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
        }
      }
      h3 {
        font-size: 40px;
        line-height: 61.77px;
        letter-spacing: 0.04em;
        padding: 60px 0 0;
        br {
          &.sp-only {
            display: none;
          }
        }
      }
      b {
        display: inline-block;
        padding: 40px 0 0;
        font-size: 33.33px;
        line-height: 65.25px;
        letter-spacing: 0.14em;
        span {
          font-size: 16px;
          line-height: 31.64px;
          letter-spacing: 0.14em;
          display: inline-block;
          margin: 0 20px 0 0;
        }
        br {
          display: none;
        }
      }
      p {
        padding: 30px 0 0;
        font-size: 18px;
        line-height: 38px;
        letter-spacing: 0.025em;
      }
    }
  }
}
