// ColumnBox01
.lang-en {
  .heroblock01 {
    min-height: 830px;
  }
  .heroblock01__heading {
    h3 {
      letter-spacing: 0.06em;
    }
  }
  .heroblock01__lead {
    h1 {
      font-family: 'Estandar', serif;
      &.is-adjust {
        margin: 0 0 0 -3px;
      }
    }
  }
  .heroblock01.is-future img {
    top: calc(50% - 160px);
  }
  .heroblock01.is-history .heroblock01__lead > img {
    padding: 10px 0 40px;
  }
  @include min-screen($breakpoint-tb) {
    .heroblock01 {
      height: 870px;
    }
  }
}

.heroblock01 {
  position: relative;
  width: 100%;
  min-height: 667px;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  &.is-technology {
    background-position: center;
  }
  &.is-phlosophy {
    &:after {
      content: '';
      position: absolute;
      max-width: 380px;
      width: calc(100% - 34px);
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("/assets/images/top/kantetsu.png");
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 54.83%;
    }
    .heroblock01__heading {
      h2 {
        &:after {
          background-image: url('/assets/images/line_hdg-bk.png');
        }
      }
      h3 {
        color: #252525;
      }
    }
    .heroblock01__lead {
      top: calc(50% + 120px);
      h1 {
        color: #252525;
      }
      p {
        color: #2b2b2b;
      }
      .btn__more {
        &:hover {
          &:before, &:after {
            background-color: #ffffff;
          }
          a {
            background-color: #ffffff;
            color: #927b5d;
            &:after {
              background-color: #927b5d;
            }
          }
        }
        a {
          color: #252525;
        }
      }
    }
  }
  &.is-history {
    .heroblock01__lead {
      > img {
        max-width: 600px;
        width: 90%;
        margin: 0 auto;
        padding: 40px 0px 10px;
      }
      .btn__more {
        &:hover {
          &:before, &:after {
            background-color: #ffffff;
          }
          a {
            background-color: #ffffff;
            color: #927b5d;
            &:after {
              background-color: #927b5d;
            }
          }
        }
        a {
          &:after {
            background-color: #ffffff;
          }
        }
      }
    }
  }
  &.is-future {
    position: relative;
    img {
      position: absolute;
      top: calc(50% - 100px);
      right: 0;
      transform: translateY(-50%);
      max-width: 684px;
      padding: 0 17px;
    }
    .heroblock01__heading {
      h2 {
        &:after {
          background-image: url('/assets/images/line_hdg-bk.png');
        }
      }
      h3 {
        color: #252525;
      }
    }
    .heroblock01__lead {
      position: absolute;
      top: calc(50% + 150px);
      left: 0;
      width: 100%;
      padding: 0 0 0 17px;
      transform: translateY(-50%);
      p {
        font-size: 15px;
        line-height: 26.5px;
        color: #2b2b2b;
        font-weight: bold;
      }
      .btn__more {
        &:hover {
          &:before, &:after {
            background-color: #ffffff;
          }
          a {
            background-color: #ffffff;
            color: #252525 !important;
            &:after {
              background-color: #927b5d;
            }
          }
        }
        a {
          color: #252525;
        }
      }
    }
  }
  video {
    position: absolute;
    top: 0;
    left: -30%;
  }
  &__heading {
    position: absolute;
    top: 18px;
    left: 17px;
    padding: 0 0 0 30px;
    &.is-white {
      &:before {
        color: #ffffff;
      }
      h2 {
        color: #ffffff;
      }
    }
    &:before {
      position: absolute;
      content: attr(data-index);
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 300;
      color: #a99a88;
      font-size: 15px;
      letter-spacing: 0.06em;
      transform: rotate(-90deg);
      top: 4.5px;
      left: 0;
    }
    h2 {
      position: relative;
      display: inline-block;
      font-family: Estandar, sans-serif;
      color: #927b5d;
      font-size: 21px;
      letter-spacing: 0.24em;
      padding: 4px 0;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        background-image: url("/assets/images/line_hdg.png");
        bottom: 0;
        left: 0;
      }
    }
    h3 {
      font-size: 11.5px;
      letter-spacing: 0.26em;
      color: #ffffff;
      padding: 5px 0 0;
    }
  }
  &__lead {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 34px);
    padding: 0;
    transform: translate(-50%, -50%);
    &.is-right {
    }
    h1 {
      font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
      font-size: 21px;
      color: #ffffff;
      letter-spacing: 0.06em;
      line-height: 33px;
      text-align: center;
      &.is-adjust {
        margin: 0 0 0 -22px;
      }
      br.only-pc {
        display: none;
      }
    }
    p {
      margin: 10px 0 0;
      font-size: 15px;
      letter-spacing: .025em;
      line-height: 30.16px;
      color: #ffffff;
      text-align: center;
      br {
        &.only-sp {
          display: block;
        }
      }
    }
    .btn__more {
      position: relative;
      display: inline-block;
      margin: 35px 0 0;
      left: 50%;
      transform: translateX(-50%);
      &.is-disabled {
        &:hover {
          &:before, &:after {
            background-color: transparent !important;
          }
          a {
            background-color: transparent !important;
            color: #ffffff !important;
            &:after {
              left: 43px !important;
              width: 20px !important;
              background-color: #927b5d !important;
            }
          }
        }
      }
      &.is-blank {
        a {
          &:before {
            content: '';
            width: 22.5px;
            height: 16px;
            background-image: url('/assets/images/icon_out.png');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
      &:hover {
        &:before, &:after {
          background-color: #927b5d;
        }
        a {
          background-color: #927b5d;
          color: #ffffff;
          &:after {
            left: 53px;
            width: 10px;
            background-color: #ffffff;
          }
        }
      }
      &:before {
        right: -17px;
        border-top: 1px solid #aaa9a8;
        border-right: 1px solid #aaa9a8;
      }
      &:after {
        left: -17px;
        border-bottom: 1px solid #aaa9a8;
        border-left: 1px solid #aaa9a8;
      }
      &:before, &:after {
        position: absolute;
        content: '';
        transform: rotate(54deg) skewX(20deg);
        width: 34px;
        height: 34px;
        top: 12px;
        //transition: all 200ms;
        background-color: transparent;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #aaa9a8;
        border-bottom: 1px solid #aaa9a8;
        height: 58px;
        font-family: "Metropolis", sans-serif;
        padding: 0 75px;
        font-size: 14px;
        color: #ffffff;
        //transition: all 200ms;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 43px;
          transform: translateY(-50%);
          width: 21px;
          height: 1px;
          background-color: #927b5d;
          transition: all 500ms 100ms;
        }
      }
    }
  }
}

@include min-screen($breakpoint-tb) {
  .heroblock01 {
    width: 100%;
    height: 720px;
    padding: 0 100px 0;
    margin: 0;
    &.is-technology {
      height: 900px;
    }
    &.is-phlosophy {
      &:after {
        max-width: 55%;
        width: 55%;
        top: 50%;
        left: auto;
        right: 3px;
        padding-top: calc(55.92% / 1.7);
        transform: translateY(-50%);
      }
      .heroblock01__lead {
        top: 50%;
      }
    }
    &.is-history {
      .heroblock01__lead {
        > img {
          max-width: 100%;
          position: absolute;
          width: 100%;
          padding: 0;
          top: 50%;
          right: -100%;
          transform: translateY(-50%);
        }
      }
    }
    &.is-future {
      img {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        max-width: 684px;
        padding: 0;
      }
      .heroblock01__lead {
        top: 50%;
        left: 100px;
        width: calc(50% - 100px);
        padding: 0 0 0 30px;
        transform: translateY(-50%);
        p {
          font-size: 22px;
          line-height: 40.11px;
        }
      }
    }
    &__heading {
      top: 100px;
      left: 100px;
      padding: 0 0 0 30px;
      &:before {
        font-size: 21.06px;
        letter-spacing: 0.06em;
        transform: rotate(-90deg);
        top: 9px;
        left: 0;
      }
      h2 {
        display: inline-block;
        font-size: 32.69px;
        letter-spacing: 0.24em;
        padding: 4px 0;
        &:after {
          content: '';
          width: 100%;
          height: 4px;
          bottom: 0;
          left: 0;
        }
      }
      h3 {
        font-size: 14px;
        letter-spacing: 0.26em;
        padding: 10px 0 0;
      }
    }
    &__lead {
      top: 50%;
      left: 100px;
      width: calc(50% - 100px);
      padding: 0 0 0 30px;
      transform: translateY(-50%);
      &.is-right {
        right: 0;
        left: auto;
      }
      h1 {
        font-size: 40px;
        color: #ffffff;
        letter-spacing: 0.06em;
        line-height: 61.47px;
        text-align: left;
        &.is-adjust {
          margin: 0 0 0 -22px;
        }
        br.only-pc {
          display: block;
        }
      }
      p {
        margin: 10px 0 0;
        font-size: 16px;
        letter-spacing: 0.025em;
        line-height: 33.16px;
        text-align: left;
        br {
          &.only-sp {
            display: none;
          }
        }
      }
      .btn__more {
        display: inline-block;
        margin: 20px 20px 0;
        left: auto;
        transform: translateX(0);
        &:hover {
          &:before, &:after {
            background-color: #927b5d;
          }
          a {
            background-color: #927b5d;
            color: #ffffff;
            &:after {
              left: 53px;
              width: 10px;
              background-color: #ffffff;
            }
          }
        }
        &:before {
          right: -17px;
          border-top: 1px solid #aaa9a8;
          border-right: 1px solid #aaa9a8;
        }
        &:after {
          left: -17px;
          border-bottom: 1px solid #aaa9a8;
          border-left: 1px solid #aaa9a8;
        }
        &:before, &:after {
          transform: rotate(54deg) skewX(20deg);
          width: 34px;
          height: 34px;
          top: 12px;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid #aaa9a8;
          border-bottom: 1px solid #aaa9a8;
          height: 58px;
          padding: 0 75px;
          font-size: 14px;
          &:after {
            top: 50%;
            left: 43px;
            transform: translateY(-50%);
            width: 21px;
            height: 1px;
          }
        }
      }
    }
  }
}