.lang-en {
  .heroblock06 {
    ul {
      li {
        h3 {
          font-family: 'Estandar', serif;
        }
      }
    }
  }
}

.heroblock06 {
  position: relative;
  width: 100%;
  padding: 50px 0 100px;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    padding: 0 17px;
    li {
      position: relative;
      width: 100%;
      padding: 0 0 0 14px;
      margin: 50px 0 0;
      border-left: 2px solid #ffffff;
      &:before {
        position: absolute;
        top: -30px;
        left: -5px;
        content: attr(data-sub);
        font-size: 11px;
        line-height: 33.2px;
        color: #c2c2c2;
      }
      &:first-child {
        margin: 30px 0 0;
      }
      h3 {
        font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.1em;
        color: #ffffff;
      }
      p {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.025em;
        color: #ffffff;
        margin: 8px 0 0;
      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .heroblock06 {
    position: relative;
    width: 100%;
    padding: 100px 0;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-direction: row;
      padding: 0 132px;
      li {
        position: relative;
        width: 50%;
        padding: 0 60px 0 20px;
        margin: 30px 0 0;
        border-left: 2px solid #ffffff;
        &:before {
          position: absolute;
          top: -30px;
          left: -5px;
          content: attr(data-sub);
          font-size: 15px;
          line-height: 33.2px;
          color: #c2c2c2;
        }
        h3 {
          font-size: 24px;
          line-height: 38px;
          letter-spacing: 0.1em;
          color: #ffffff;
        }
        p {
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.025em;
          color: #ffffff;
          margin: 15px 0 0;
        }
      }
    }
  }
}