.lang-en {
  .interview__person {
    > div {
      h2 {
        letter-spacing: 0.06em;
        padding: 0 10px 0 5px;
        @include min-screen($breakpoint-tb){
          padding: 5px 40px 5px 5px;
        }
      }
      h3 {
        font-family: 'Estandar',serif;
        @include min-screen($breakpoint-tb) {
          line-height: 45.77px;
          font-size: 32px;
          padding: 40px 0 30px;
        }
      }
      .personal_data {
        width: 100%;
        @include min-screen($breakpoint-tb) {
          width: 60%;
        }
      }
    }
  }
  .interview__comment {
    > div {
      padding: 30px 31px 0 31px;
      @include min-screen($breakpoint-tb) {
        padding: 50px 100px 0 40px;
      }
    }
    @include min-screen($breakpoint-tb) {
      figure {
        transform: translateY(10px);
      }
    }
  }
  .interview__mind {
    > div {
      h3 {
        font-family: 'Estandar',serif;
      }
    }
  }
}

.interview {
  margin: 100px 0 0;
  position: relative;
  width: 100%;
  background-color: #ffffff; // default
  &:nth-child(add) {
    // 反転の処理をかく
  }
  &.index-1 {
    margin: 0;
    .interview__person {
      > div:after {
        letter-spacing: 0.12em;
      }
    }
  }
  &__person {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    > div {
      position: relative;
      width: 50%;
      padding: 0 0 0 17px;
      min-height: 100%;
      &:after {
        position: absolute;
        content: attr(data-index);
        font-family: "Estandar", sans-serif;
        font-size: 143px;
        letter-spacing: 0.02em;
        line-height: 0.5em;
        color: #927b5d;
        opacity: 0.13;
        bottom: -30px;
        right: -100%;
      }
      h2 {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 13px;
        letter-spacing: 0.14em;
        padding: 0 15px 0 5px;
        color: #ffffff;
        height: 27px;
        background-color: #927b5d;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 200%;
          height: 27px;
          background-color: #927b5d;
          transform: translateX(-99%);
        }
      }
      h3 {
        font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: 0.1em;
        color: #927b5d;
        padding: 22.5px 0 0;
      }
      .personal_data {
        padding: 25px 0 0;
        h4 {
          font-size: 18px;
          font-weight: bold;
          line-height: 18px;
          letter-spacing: 0.14em;
          color: #070708;
          &:after {
            display: block;
            content: attr(data-en);
            font-family: 'Estandar', sans-serif;
            font-size: 10px;
            color: #927b5d;
            line-height: 13.55px;
            letter-spacing: 0.14em;
            padding: 5px 0 0;
          }
        }
        p {
          font-size: 12px;
          font-weight: normal;
          line-height: 14.16px;
          letter-spacing: 0.025em;
          color: #070708;
          &.joined {
            font-size: 12px;
            font-weight: bold;
            line-height: 34.43px;
            letter-spacing: 0.12em;
            color: #070708;
            padding: 20px 0 0;
          }
        }
      }
    }
    figure {
      width: calc(50% - 24px);
      min-height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top right;
      padding-top: 61%;
    }
  }
  &__comment {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    figure {
      width: 100%;
      min-height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      padding-top: 44%;
      margin: 30px 0 0;
    }
    > div {
      width: 100%;
      min-height: 100%;
      padding: 30px 31px 0 31px;
      p {
        font-size: 13px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #070708;
      }
    }
  }
  &__mind {
    max-width: 1100px;
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    padding: 0 17px;
    > div {
      position: relative;
      width: 100%;
      padding: 0 14px;
      margin: 20px 0;
      border-left: 2px solid #927b5d;
      h3 {
        font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
        font-size: 17px;
        font-weight: bold;
        line-height: 27px;
        letter-spacing: 0.14em;
        color: #927b5d;
      }
      p {
        font-size: 13px;
        line-height: 27px;
        letter-spacing: 0.025em;
        color: #927b5d;
      }
    }
  }

}

@include min-screen($breakpoint-tb){

  .interview {
    margin: 260px 0 0;
    position: relative;
    width: 100%;
    background-color: #ffffff; // default
    &:nth-child(add) {
    }
    &.index-1 {
      margin: 0;
      .interview__person {
        > div:after {
          letter-spacing: 0.12em;
        }
      }
    }
    &__person {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      > div {
        position: relative;
        width: 50%;
        padding: 0 0 0 133px;
        min-height: 100%;
        &:after {
          position: absolute;
          content: attr(data-index);
          font-family: "Estandar", sans-serif;
          font-size: 203px;
          letter-spacing: 0.02em;
          line-height: 0.5em;
          color: #927b5d;
          opacity: 0.13;
          bottom: 0;
          right: 0;
        }
        h2 {
          position: relative;
          display: inline-block;
          font-size: 22.25px;
          line-height: 43.55px;
          letter-spacing: 0.14em;
          padding: 5px 40px 5px 5px;
          color: #ffffff;
          height: 52px;
          background-color: #927b5d;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 52px;
            background-color: #927b5d;
            transform: translateX(-99%);
          }
        }
        h3 {
          font-size: 40px;
          font-weight: bold;
          line-height: 61.77px;
          letter-spacing: 0.1em;
          color: #927b5d;
          padding: 42px 0 0;
        }
        .personal_data {
          padding: 0;
          h4 {
            font-size: 27.86px;
            font-weight: bold;
            line-height: 54.54px;
            letter-spacing: 0.14em;
            color: #070708;
            &:after {
              display: block;
              content: attr(data-en);
              font-family: 'Estandar', sans-serif;
              font-size: 18.15px;
              color: #927b5d;
              line-height: 23.55px;
              letter-spacing: 0.14em;
              padding: 0;
            }
          }
          p {
            font-size: 14px;
            font-weight: normal;
            line-height: 23.16px;
            letter-spacing: 0.025em;
            color: #070708;
            &.joined {
              font-size: 17.59px;
              font-weight: bold;
              line-height: 34.43px;
              letter-spacing: 0.12em;
              color: #070708;
            }
          }
        }
      }
      figure {
        width: calc(50% - 40px);
        min-height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        padding-top: 43%;
      }
    }
    &__comment {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-direction: row;
      margin: 0;
      figure {
        width: 50%;
        min-height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 32.43%;
        transform: translateY(-136px);
      }
      > div {
        width: 50%;
        min-height: 100%;
        padding: 50px 160px 0 40px;
        p {
          font-size: 17px;
          line-height: 34px;
          letter-spacing: 0.03em;
          color: #070708;
        }
      }
    }
    &__mind {
      max-width: 1100px;
      width: 100%;
      margin: 40px auto 0;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-direction: row;
      > div {
        position: relative;
        width: 100%;
        max-width: 500px;
        padding: 0 28px;
        border-left: 2px solid #927b5d;
        h3 {
          font-size: 27.86px;
          font-weight: bold;
          line-height: 54.54px;
          letter-spacing: 0.14em;
          color: #927b5d;
        }
        p {
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.025em;
          color: #927b5d;
        }
      }
    }
  }
}