.language_switcher {
  display: none;
}
.is-open {
  .language_switcher {
    position: fixed;
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
    z-index: 2200;
    display: block;
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 10px;
      background-color: #fff;
      top: 7.5px;
      left: 50%;
      transform: translateX(-50%);
    }
    .inner {
      display: flex;
      width: 63px;
      height: auto;
      justify-content: space-between;
      button {
        position: relative;
        display: block;
        color: #927b5d;
        font-size: 14px;
        line-height: 24.32px;
        letter-spacing: 0.165em;
        &.active {
          color: #ffffff;
        }
      }
    }
  }
}
@include min-screen($breakpoint-tb) {
  .language_switcher {
    position: absolute;
    bottom: auto;
    top: 33px;
    right: 41px;
    z-index: 2200;
    display: block;
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 10px;
      background-color: #fff;
      top: 7.5px;
      left: 50%;
      transform: translateX(-50%);
    }
    .inner {
      width: 80px;
      height: auto;
      display: flex;
      justify-content: space-between;
      button {
        position: relative;
        width: auto;
        display: block;
        color: #927b5d;
        font-size: 14px;
        line-height: 24.32px;
        letter-spacing: 0.165em;
        &.active {
          color: #ffffff;
        }
      }
    }
  }
}