.lang-en {
  .leadblock02__heading {
    h2 {
      font-family: 'Estandar', serif;
    }
  }
}

.leadblock02 {
  position: relative;
  width: 100%;
  background-color: #ffffff; // default
  &.theme-gold {
    .leadblock02__heading {
      h2 {
        color: #927b5d;
        text-align: center;
      }
    }
  }
  &__heading {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    h2 {
      position: relative;
      display: inline-block;
      font-family: "Midashi Go MB1", sans-serif;
      font-size: 21px;
      letter-spacing: 0.075em;
      color: #303030;
    }
  }
}

@include min-screen($breakpoint-tb) {
  .leadblock02 {
    width: 100%;
    &__heading {
      display: flex;
      justify-content: center;
      flex-direction: row;
      left: auto;
      transform: translateX(0);
      h2 {
        display: inline-block;
        font-size: 27px;
        line-height: 54px;
        letter-spacing: 0.14em;
      }
    }
  }
}