.lang-en {
  .leadblock01.theme-ja-black {
    .leadblock01__heading {
      h2 {
        letter-spacing: 0.06em;
        font-family: 'Estandar', serif;
      }
    }
  }
  .leadblock01.theme-ja-gray {
    .leadblock01__heading {
      h2 {
        letter-spacing: 0.06em;
        font-family: 'Estandar', serif;
      }
    }
  }
  .leadblock01__heading h2 {
    letter-spacing: 0.06em;
    &:after {
      font-size: 10px;
      letter-spacing: 0.06em;
    }
  }
}

.leadblock01 {
  position: relative;
  width: 100%;
  background-color: #ffffff; // default
  &.theme-gray {
    background-color: #f5f5f5;
  }
  &.theme-white {
    background-color: #ffffff;
  }
  &.theme-black {
    background-color: #1f2122;
    .leadblock01__heading {
      h2 {
        color: #ffffff;
        &:before {
          background-image: url("/assets/images/line_hdg.png");
        }
        &:after {
          color: #ffffff;
        }
      }
    }
  }
  &.theme-gold {
    background-color: #927b5d;
    .leadblock01__heading {
      h2 {
        color: #ffffff;
        &:before {
          background-image: url("/assets/images/line_hdg.png");
        }
        &:after {
          color: #ffffff;
        }
      }
    }
  }
  &.theme-ja-black {
    .leadblock01__heading {
      h2 {
        font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.14em;
        &:before {
          bottom: 25px;
        }
      }
    }
  }
  &.theme-ja-gray {
    background-color: #f5f5f5;
    .leadblock01__heading {
      h2 {
        font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.14em;
        &:before {
          bottom: 25px;
        }
      }
    }
  }
  &__heading {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    h2 {
      position: relative;
      display: inline-block;
      font-family: "Estandar", sans-serif;
      font-size: 21px;
      letter-spacing: 0.075em;
      color: #303030;
      text-align: center;
      &:before {
        position: absolute;
        content: '';
        width: calc(100% + 50px);
        height: 4px;
        bottom: 30px;
        left: -25px;
        background-image: url("/assets/images/line_hdg-bk.png");
        background-repeat: repeat-x;
        background-size: contain;
      }
      &:after {
        content: attr(data-sub);
        display: block;
        font-size: 11.5px;
        line-height: 33.15px;
        letter-spacing: 0.26em;
        color: #303030;
        text-align: center;
      }
    }
  }
}

@include min-screen($breakpoint-tb) {
  .leadblock01 {
    width: 100%;
    &.theme-ja-black {
      .leadblock01__heading {
        h2 {
          font-size: 24px;
          line-height: 53.7px;
          letter-spacing: 0.14em;
          &:before {
            width: 100%;
            height: 4px;
            bottom: 30px;
            left: 0;
          }
        }
      }
    }
    &.theme-ja-gray {
      background-color: #f5f5f5;
      .leadblock01__heading {
        h2 {
          font-size: 24px;
          line-height: 53.7px;
          letter-spacing: 0.14em;
          &:before {
            width: 100%;
            height: 4px;
            bottom: 30px;
            left: 0;
          }
        }
      }
    }
    &__heading {
      display: flex;
      justify-content: center;
      flex-direction: row;
      left: auto;
      transform: translateX(0);
      h2 {
        display: inline-block;
        font-size: 33px;
        letter-spacing: 0.14em;
        &:before {
          width: 100%;
          height: 4px;
          bottom: 30px;
          left: 0;
        }
        &:after {
          display: block;
          font-size: 12px;
          line-height: 33.15px;
          letter-spacing: 0.26em;
        }
      }
    }
  }
}