.lang-en {
  .leadblock03__heading {
    h2 {
      font-family: 'Estandar', serif;
    }
  }
}
.leadblock03 {
  position: relative;
  width: 100%;
  background-color: #ffffff; // default
  &__heading {
    display: inline-block;
    position: relative;
    h2 {
      position: relative;
      display: inline-block;
      font-family: "Midashi Go MB1", sans-serif;
      font-size: 19px;
      line-height: 35px;
      letter-spacing: 0.075em;
      color: #927b5d;
    }
  }
  &__content {
    picture {
      display: block;
      margin: 30px 0 0;
      img {
        width: auto;
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
}

@include min-screen($breakpoint-tb) {
  .leadblock03 {
    width: 100%;
    &__heading {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      h2 {
        display: inline-block;
        font-size: 27px;
        line-height: 54px;
        letter-spacing: 0.14em;
      }
    }
  }
}