
.listblock01 {
  padding: 13.5px 0;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  &.theme-white {
    background-color: #ffffff;
  }
  li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 46px;
    box-sizing: border-box;
    border-bottom: 1px solid #cdd2db;
    &:last-child {
      border-bottom: none;
    }
    .title {
      display: flex;
      align-items: center;
      max-width: 128px;
      width: 100%;
      padding: 7px 15px;
      h3 {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .content {
      padding: 7px 15px 7px 0;
      p {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .listblock01 {
    padding: 80px 50px;
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    &.theme-white {
      background-color: #ffffff;
    }
    li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: 46px;
      box-sizing: border-box;
      border-bottom: 1px solid #cdd2db;
      .title {
        display: flex;
        align-items: flex-start;
        max-width: 255px;
        width: 100%;
        padding: 0 30px 13px 30px;
        h3 {
          font-weight: normal;
          font-size: 18px;
          line-height: 46px;
        }
      }
      .content {
        padding: 13px 30px;
        p {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
}