.video {
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    video {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
    }
    &--clip {
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      clip-path: url(#mask);
      video {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        transform: translateX(-48%);
      }
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
      }
      #mask {
        transform: scale(2);
      }
    }
  }
}