// ColumnBox01

.section_next {
  position: relative;
  width: 100%;
  height: 334px;
  padding-top: 0;
  background-color: #ffffff;
  a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    &:hover {

    }
  }
  &:after {
    position: absolute;
    top: 0;
    display: block;
    content: '';
    height: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-position: right;
    z-index: 1;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 0 0 0 120px;
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      width: 51.5px;
      height: 1px;
      background: #bbbbbb;
      top: 17px;
      left: 60px;
    }
    .next {
      position: absolute;
      display: block;
      top: 8px;
      left: 0;
      font-family: "Estandar", sans-serif;
      font-size: 16.8px;
      font-weight: normal;
      letter-spacing: 0.26em;
      color: #927b5d;
    }
    .heading {
      position: relative;
      padding: 0 0 0 30px;
      &:before {
        position: absolute;
        content: attr(data-index);
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #a99a88;
        font-size: 18.7px;
        letter-spacing: 0.06em;
        transform: rotate(-90deg);
        top: 4.5px;
        left: 0;
      }

      h2 {
        position: relative;
        font-family: 'Estandar', sans-serif;
        font-size: 29px;
        font-weight: bold;
        letter-spacing: 0.22em;
        color: #927b5d;
      }
      h3 {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0.26em;
        color: #696969;
      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .section_next {
    width: 100%;
    height: auto;
    padding-top: 43.85%;
    &:after {
      top: auto;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
    a {
      position: absolute;
      &:hover {
        // Nextが動いたりするところ
      }
    }
    canvas {
      top: 0;
      left: 0;
    }
    .container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      top: 50%;
      right: 135px;
      transform: translateY(-50%);
      padding: 0 0 0 490px;
      &:after {
        width: 390px;
        height: 1px;
        top: 30px;
        left: 90px;
      }
      .next {
        top: 18px;
        left: 0;
        font-size: 23.8px;
        letter-spacing: 0.26em;
      }
      .heading {
        padding: 0 0 0 60px;
        &:before {
          font-size: 37.45px;
          letter-spacing: 0.06em;
          top: 9px;
          left: 0;
        }

        h2 {
          font-size: 58.47px;
          font-weight: bold;
          letter-spacing: 0.22em;
        }
        h3 {
          font-size: 21.23px;
          font-weight: normal;
          letter-spacing: 0.26em;
        }
      }
    }
  }
}