// ColumnBox01

.section_head_technology {
  position: relative;
  width: 100%;
  height: 409px;
  background-image: url("/assets/images/technologies/head_technology.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  .heading {
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    &:after {
      display: block;
      margin: 10px 0 0;
      font-family: 'Estandar', sans-serif;
      font-size: 17px;
      letter-spacing: 0.14em;
      color: #FFFFFF;
      text-align: center;
    }
    &:before {
      display: flex;
      margin: 0 auto;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    &.rerolling {
      &:before {
        width: calc(132px / 2);
        height: calc(98px / 2);
        background-image: url("/assets/images/technologies/icons/rerolling.png");
      }
      &:after {
        content: 'REROLLING';
      }
    }
    &.annealing {
      &:before {
        width: calc(233px / 2);
        height: calc(82px / 2);
        background-image: url("/assets/images/technologies/icons/annealing.png");
      }
      &:after {
        content: 'ANNEALING';
      }
    }
    &.pickling {
      &:before {
        width: calc(124px / 2);
        height: calc(111px / 2);
        background-image: url("/assets/images/technologies/icons/pickling.png");
      }
      &:after {
        content: 'PICKLING';
      }
    }
    &.cutting {
      &:before {
        width: calc(166px / 2);
        height: calc(87px / 2);
        background-image: url("/assets/images/technologies/icons/cutting.png");
      }
      &:after {
        content: 'LEVELING & CUTTING';
      }
    }
    &.shearing {
      &:before {
        width: calc(162px / 2);
        height: calc(103px / 2);
        background-image: url("/assets/images/technologies/icons/shearing.png");
      }
      &:after {
        content: 'SHEARING';
      }
    }
    &.slit {
      &:before {
        width: calc(145px / 2);
        height: calc(90px / 2);
        background-image: url("/assets/images/technologies/icons/slit.png");
      }
      &:after {
        content: 'SLIT';
      }
    }
    &.printer {
      &:before {
        width: calc(119px / 2);
        height: calc(129px / 2);
        background-image: url("/assets/images/technologies/icons/printer.png");
      }
      &:after {
        content: '3D PRINTING';
      }
    }
    &.analysis {
      &:before {
        width: calc(106px / 2);
        height: calc(139px / 2);
        background-image: url("/assets/images/technologies/icons/analysis.png");
      }
      &:after {
        content: 'ANALYSIS & TESTING';
      }
    }
    &.sheetmetal {
      &:before {
        width: calc(150px / 2);
        height: calc(150px / 2);
        background-image: url("/assets/images/technologies/icons/sheetmetal.png");
      }
      &:after {
        content: 'SHEET METAL WORKING';
      }
    }
  }
}

@include min-screen($breakpoint-tb) {
  .section_head_technology {
    width: 100%;
    height: auto;
    padding-top: 43.85%;
    .heading {
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:after {
        font-size: 35.5px;
        line-height: 84.23px;
        letter-spacing: 0.14em;
      }
      &.rerolling { &:before {
          width: 132px;
          height: 98px;
        } }
      &.annealing { &:before {
          width: 233px;
          height: 82px;
        } }
      &.pickling { &:before {
          width: 124px;
          height: 111px;
        } }
      &.cutting { &:before {
          width: 166px;
          height: 87px;
        } }
      &.shearing { &:before {
          width: 162px;
          height: 103px;
        } }
      &.slit { &:before {
          width: 145px;
          height: 90px;
        } }
      &.printer { &:before {
          width: 119px;
          height: 129px;
        } }
      &.analysis { &:before {
          width: 106px;
          height: 139px;
        } }
      &.sheetmetal { &:before {
          width: 150px;
          height: 150px;
        } }
    }
  }
}