// ColumnBox01

.lang-en {
  .section_itemhead {
    .heading {
      p {
        letter-spacing: 0.06em;
      }
    }
  }
}

.section_itemhead {
  position: relative;
  width: 100%;
  height: 332px;
  overflow: hidden;
  background-color: black;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat;
    background-image: url('/assets/images/bg_overlay-dot.png');
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .poster {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 9;
  }
  video {
    position: absolute;
    width: auto;
    height : 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heading {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 11;
    h1 {
      position: relative;
      display: inline-block;
      font-family: 'Estandar', sans-serif;
      font-size: 38.5px;
      letter-spacing: 0.16em;
      color: #FFFFFF;
      text-align: left;
    }
    p {
      position: relative;
      display: block;
      font-size: 18px;
      font-weight: bold;
      line-height: 29.1px;
      letter-spacing: 0.14em;
      padding: 0;
      color: #FFFFFF;
      text-align: left;
    }
  }
}

@include min-screen($breakpoint-tb) {
  .section_itemhead {
    width: 100%;
    height: auto;
    padding-top:  43.85%;
    .poster {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      z-index: 9;
    }
    video {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .heading {
      bottom: 50px;
      left: 130px;
      h1 {
        font-size: 77.34px;
        letter-spacing: 0.14em;
        text-align: center;
      }
      p {
        display: inline-block;
        font-size: 30px;
        letter-spacing: 0.14em;
        padding: 0 0 0 10px;
        text-align: center;
      }
    }
  }
}