// ColumnBox01

.lang-en {
  .section_head {
    .heading {
      p {
        line-height: 17px;
        letter-spacing: 0.06em;
      }
    }
    @include min-screen($breakpoint-tb) {
      .heading {
        p {
          line-height: 29.1px;
        }
      }
    }
  }
}

.section_head {
  position: relative;
  width: 100%;
  height: 409px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  &.theme-white {
    .heading {
      h1 {
        color: #ffffff;
      }
      p {
        color: #ffffff;
      }
    }
  }
  .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h1 {
      font-family: 'Estandar', sans-serif;
      font-size: 30px;
      letter-spacing: 0.16em;
      color: #292929;
      text-align: center;
    }
    p {
      font-size: 14px;
      font-weight: bold;
      line-height: 29.1px;
      letter-spacing: 0.26em;
      color: #292929;
      text-align: center;
    }
  }
}

@include min-screen($breakpoint-tb) {
  .section_head {
    width: 100%;
    height: auto;
    padding-top:  43.85%;
    &.theme-white {
      .heading {
        h1 {
        }
        p {
        }
      }
    }
    .heading {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      h1 {
        font-size: 53.54px;
        letter-spacing: 0.16em;
      }
      p {
        font-size: 16px;
        line-height: 29.1px;
        letter-spacing: 0.26em;
      }
    }
  }
}