.technology_list {
  .image-cache {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    li {
      position: relative;
      width: calc(100% / 2 - 13px);
      margin: 50px 0 0;
      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &:before {
          position: relative;
          display: block;
          content: '';
          width: 100%;
          padding-top: 89%;
          background-repeat: no-repeat;
          background-size: contain;
          transition: all 400ms;
          transform-origin: center;
        }
        &:hover {
          &:before {
            transform: scale(1.2);
          }
        }
        > div {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column-reverse;
          &:after {
            position: relative;
            display: block;
            content: '';
            //width: 100%;
            //height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            //transform: translate(-50%, -50%);
          }
          h3 {
            position: relative;
            font-family: "Estandar", sans-serif;
            color: #fff;
            font-size: 13px;
            letter-spacing: 0.14em;
            width: 100%;
            text-align: center;
            padding: 13px 0 0;
          }
        }
      }
      > div {
        h4 {
          padding: 8.5px 0 0;
          font-family: 'Estandar', sans-serif;
          font-size: 18px;
          letter-spacing: 0.14em;
          color: #fff;
          text-align: center;
        }
        p {
          padding: 7px 0 0;
          font-size: 12px;
          letter-spacing: 0.14em;
          color: #fff;
          text-align: center;
        }
      }
      &.rerolling {
        a {
          &:before {background-image: url("/assets/images/technologies/icons/rerolling_bk.png")}
          &:hover {
            &:before {background-image: url("/assets/images/technologies/icons/rerolling_col.png")}
          }
          > div {
            &:after {
              width: calc(132px / 2);
              height: calc(98px / 2);
              background-image: url("/assets/images/technologies/icons/rerolling.png");
            }
          }
        }
      }
      &.annealing {
        a {
          &:before {background-image: url("/assets/images/technologies/icons/annealing_bk.png")}
          &:hover {
            &:before {background-image: url("/assets/images/technologies/icons/annealing_col.png")}
          }
          > div {
            &:after {
              width: calc(233px / 2);
              height: calc(82px / 2);
              background-image: url("/assets/images/technologies/icons/annealing.png");
            }
          }
        }
      }
      &.pickling {
        a {
          &:before {background-image: url("/assets/images/technologies/icons/pickling_bk.png")}
          &:hover {
            &:before {background-image: url("/assets/images/technologies/icons/pickling_col.png")}
          }
          > div {
            &:after {
              width: calc(124px / 2);
              height: calc(111px / 2);
              background-image: url("/assets/images/technologies/icons/pickling.png");
            }
          }
        }
      }
      &.cutting {
        a {
          &:before {background-image: url("/assets/images/technologies/icons/cutting_bk.png")}
          &:hover {
            &:before {background-image: url("/assets/images/technologies/icons/cutting_col.png")}
          }
          > div {
            &:after {
              width: calc(166px / 2);
              height: calc(87px / 2);
              background-image: url("/assets/images/technologies/icons/cutting.png");
            }
          }
        }
      }
      &.shearing {
        a {
          &:before {background-image: url("/assets/images/technologies/icons/shearing_bk.png")}
          &:hover {
            &:before {background-image: url("/assets/images/technologies/icons/shearing_col.png")}
          }
          > div {
            &:after {
              width: calc(162px / 2);
              height: calc(103px / 2);
              background-image: url("/assets/images/technologies/icons/shearing.png");
            }
          }
        }
      }
      &.slit {
        a {
          &:before {background-image: url("/assets/images/technologies/icons/slit_bk.png")}
          &:hover {
            &:before {background-image: url("/assets/images/technologies/icons/slit_col.png")}
          }
          > div {
            &:after {
              width: calc(145px / 2);
              height: calc(90px / 2);
              background-image: url("/assets/images/technologies/icons/slit.png");
            }
          }
        }
      }
      &.printer {
        a {
          &:before {background-image: url("/assets/images/technologies/icons/printer_bk.png")}
          &:hover {
            &:before {background-image: url("/assets/images/technologies/icons/printer_col.png")}
          }
          > div {
            &:after {
              width: calc(119px / 2);
              height: calc(129px / 2);
              background-image: url("/assets/images/technologies/icons/printer.png");
            }
          }
        }
      }
      &.analysis {
        a {
          &:before {background-image: url("/assets/images/technologies/icons/analysis_bk.png")}
          &:hover {
            &:before {background-image: url("/assets/images/technologies/icons/analysis_col.png")}
          }
          > div {
            &:after {
              width: calc(106px / 2);
              height: calc(139px / 2);
              background-image: url("/assets/images/technologies/icons/analysis.png");
            }
          }
        }
      }
      &.sheetmetal {
        a {
          &:before {background-image: url("/assets/images/technologies/icons/sheetmetal_bk.png")}
          &:hover {
            &:before {background-image: url("/assets/images/technologies/icons/sheetmetal_col.png")}
          }
          > div {
            &:after {
              width: calc(150px / 2);
              height: calc(150px / 2);
              background-image: url("/assets/images/technologies/icons/sheetmetal.png");
            }
          }
        }
      }
    }
  }
  @include min-screen($breakpoint-tb) {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      li {
        position: relative;
        width: calc(100% / 3 - 26px);
        margin: 100px 0 0;
        &.rerolling { a > div { &:after {
              width: 132px;
              height: 98px;
            } }
        }
        &.annealing { a > div { &:after {
              width: 233px;
              height: 82px;
            } }
        }
        &.pickling { a > div { &:after {
              width: 124px;
              height: 111px;
            } }
        }
        &.cutting { a > div { &:after {
              width: 166px;
              height: 87px;
            } }
        }
        &.shearing { a > div { &:after {
              width: 162px;
              height: 103px;
            } }
        }
        &.slit { a > div { &:after {
              width: 145px;
              height: 90px;
            } }
        }
        &.printer { a > div { &:after {
              width: 119px;
              height: 129px;
            } }
        }
        &.analysis { a > div { &:after {
              width: 106px;
              height: 139px;
            } }
        }
        &.sheetmetal { a > div { &:after {
              width: 150px;
              height: 150px;
            } }
        }
        a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          &:before {
            position: relative;
            display: block;
            content: '';
            width: 100%;
            padding-top: 89%;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 400ms;
            transform-origin: center;
          }
          &:hover {
            &:before {
              transform: scale(1.2);
            }
          }
          > div {
            &:after {
              display: block;
              content: '';
              //width: 100%;
              //height: 100px;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
            }
            h3 {
              font-family: "Estandar", sans-serif;
              color: #fff;
              font-size: 24px;
              letter-spacing: 0.14em;
              width: 100%;
              text-align: center;
            }
          }
        }
        > div {
          h4 {
            padding: 17px 0 0;
            font-family: 'Estandar', sans-serif;
            font-size: 30px;
            letter-spacing: 0.14em;
            color: #fff;
            text-align: center;
          }
          p {
            padding: 14px 0 0;
            font-size: 16px;
            letter-spacing: 0.14em;
            color: #fff;
            text-align: center;
          }
        }
      }
    }
  }
}