@font-face {font-family: 'URWDINCond';src: url('/assets/fonts/URWDINCond/URWDINCond-Bold.eot');src: url('/assets/fonts/URWDINCond/URWDINCond-Bold.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/URWDINCond/URWDINCond-Bold.woff') format('woff'),url('/assets/fonts/URWDINCond/URWDINCond-Bold.ttf') format('truetype');}

@font-face {font-family: 'Estandar';src: url('/assets/fonts/Estandar/3695EA_0_0.eot');src: url('/assets/fonts/Estandar/3695EA_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/Estandar/3695EA_0_0.woff2') format('woff2'),url('/assets/fonts/Estandar/3695EA_0_0.woff') format('woff'),url('/assets/fonts/Estandar/3695EA_0_0.ttf') format('truetype');}

@font-face {font-family: 'Metropolis';
  src: url('/assets/fonts/Metropolis/metropolis-regular.woff2') format('woff2'),url('/assets/fonts/Metropolis/metropolis-regular.woff') format('woff'),url('/assets/fonts/Metropolis/metropolis-regular.ttf') format('truetype');}

@font-face {font-family: 'Measure';
  src: url('/assets/fonts/Measure/measure.woff2') format('woff2'),url('/assets/fonts/Measure/measure.woff') format('woff'),url('/assets/fonts/Measure/measure.ttf') format('truetype');}

@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url("https://use.typekit.net/uoe4pgm.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
}