// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-black: #040404;
$color-base-white: #FEFEFE;
$color-base-gray: #D3D5DC;

$color-key: #1080EE;

$breakpoint-pc: 1280px;
$breakpoint-tb:  960px;
$breakpoint-sp:  480px;

$breakpoint-860: 860px;
$breakpoint-600: 600px;
$breakpoint-480: 480px;



// HeaderMenu
$menu-index-circle: #D8D8D8;

// Font
$font-mincho: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;