.page.about {
  &.lang-en {
    section {
      .leadblock01__content {
        .factories {
          li {
            > div.info {
              h3 {
                font-family: "Estandar","見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
              }
            }
          }
        }
      }
    }
  }
  section {
    .leadblock01 {
      padding: 57px 17px 80px;
      &__content {
        .factories {
          width: 100%;
          margin: 0 auto;
          li {
            width: 100%;
            margin: 50px 0 0;
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            > div {
              position: relative;
              width: 100%;
              &.info {
                padding: 0 18px;
                &:before {
                  position: absolute;
                  content: '';
                  top: 0;
                  left: 0;
                  width: 4px;
                  height: 100%;
                  background-color: #ebebeb;
                }
                h3 {
                  font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
                  font-size: 18px;
                  line-height: 27px;
                  letter-spacing: 0.075em;
                  color: #303030;
                  padding: 13px 0 3px;
                }
                p {
                  font-size: 12px;
                  line-height: 17px;
                  color: #565656;
                  &.address {
                    font-size: 12px;
                    padding: 0 0 5px;
                    &:before {
                      content: '〒'attr(data-postalcode);
                      display: block;
                    }
                    a {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-family: "Estandar", sans-serif;
                      width: 100px;
                      height: 21px;
                      font-size: 12px;
                      letter-spacing: -0.01em;
                      padding: 3.5px 14px;
                      vertical-align: top;
                      text-align: center;
                      color: #565656;
                      border: 1px solid #919191;
                      box-sizing: border-box;
                      transition: all 600ms;
                      margin: 6px 0 0;
                    }
                  }
                }
              }
              &.facade {
                position: relative;
                padding: 18px 0 0 18px;
                &:before {
                  position: absolute;
                  content: '';
                  top: 0;
                  left: 0;
                  width: 4px;
                  height: 100%;
                  background-color: #ebebeb;
                  display: block;
                }
                img {

                }
              }
            }
          }
        }
        .company_info {
          .listblock01 {
            margin-top: 50px;
          }
        }
      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .page.about {
    section {
      .leadblock01 {
        padding: 120px 130px 80px;
        &__content {
          .factories {
            width: 100%;
            margin: 0 auto;
            li {
              width: 100%;
              margin: 100px 0 0;
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              > div {
                width: 50%;
                &.info {
                  padding: 0 18px;
                  &:before {
                    top: 0;
                    left: 0;
                    width: 4px;
                    height: 100%;
                  }
                  h3 {
                    font-size: 28px;
                    line-height: 54.54px;
                    letter-spacing: 0.075em;
                    padding: 0;
                  }
                  p {
                    font-size: 16px;
                    line-height: 26px;
                    &.address {
                      font-size: 18px;
                      padding: 0 0 5px;
                      a {
                        display: flex;
                        height: 21px;
                        font-size: 12px;
                        letter-spacing: -0.01em;
                        padding: 3.5px 14px;
                        border: 1px solid #919191;
                        transition: all 600ms;
                        &:hover {
                          background: #919191;
                          color: #ffffff;
                        }
                      }
                    }
                  }
                }
                &.facade {
                  &:before {
                    display: none;
                  }
                  img {

                  }
                }
              }
            }
          }
          .company_info {
            .listblock01 {
              margin-top: 100px;
            }
          }
        }
      }
    }
  }
}