.lang-en {
  .page.history section .listblock01 li .title { width: 70px; }
  .page.history section .listblock01 li .content p { word-break: break-word; }
}


.page.history {
  section {
    .leadblock01 {
      padding: 57px 17px 80px;
      &__content {
        .company_history {
          .listblock01 {
            margin-top: 50px;
          }
        }
      }
    }
    .leadblock02 {
      padding: 57px 17px 80px;
      &__heading {
        padding: 0 0 60px;
      }
      &__content {
        .columnblock02 {
          padding: 0 0 50px;
          &__wrap01 {
            padding: 0 0 20px;
          }
          &__wrap02 {

          }
        }
      }
    }
    .listblock01 {
      li {
        .title {
          width: 290px;
          max-width: 100%;
        }
        .content {
          width: 100%;
          p {
            word-break: break-all;
          }
        }
      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .page.history {
    section {
      .leadblock01 {
        padding: 120px 130px 80px;
        &__content {
          .company_history {
            .listblock01 {
              margin-top: 100px;
            }
          }
        }
      }
      .leadblock02 {
        padding: 160px 130px 80px;
        &__heading {
          padding: 0 0 120px;
        }
        &__content {
          max-width: 1100px;
          margin: 0 auto;
          .columnblock02 {
            padding: 0 0 100px;
            &__wrap01 {

            }
            &__wrap02 {

            }
          }
        }
      }
      .listblock01 {
        li {
          .title {
            width: 360px;
          }
        }
      }
    }
  }
}