.page.home {
  section {
    &.hero {
      position: relative;
      .bg_video {
        position: fixed;
        top: 50%;
        left: 50%;
        /* width: 100%; */
        min-height: 100%;
        min-width: 100%;
        z-index: -2;
        height: 100%;
        transform: translate(-50%,-50%);
        &:after {
          position: fixed;
          width: 100%;
          height: 100%;
          background-color: #282828;
          opacity: .5;
          top: 0;
          left: 0;
          content: '';
        }
        video {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
        .video__clip {
          width: 100%;
          position: relative;
          height: 100%;
          overflow: hidden;
          clip-path: url(#mask);
          //z-index: -1;
          video {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-48%);
          }
          svg {
            //position: absolute;
            //top: 50%;
            //left: 50%;
            //transform: translate(-50%,-50%);
          }
          #mask {
            //transform: scale(3);
          }
        }
      }
      .copy {
        position: relative;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
          font-family: 'URWDINCond', sans-serif;
          font-size: 53px;
          font-weight: bold;
          line-height: 53px;
          letter-spacing: 0.075em;
          color: #ffffff;
          text-align: center;
          width: 87vw;
          margin: 0 auto;
          span {
            display: block;
            font-size: 38.41px;
            line-height: 46.855px;
            letter-spacing: 0.055em;
          }
          img {
            width: auto;
            margin: 0 auto;
            max-width: 100%;
          }
        }
        h2 {
          font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
          font-size: 15px;
          font-weight: bold;
          line-height: 32px;
          letter-spacing: 0.125em;
          color: #ffffff;
          text-align: center;
        }
      }
      .btn__scroll {
        position: absolute;
        bottom: 60px;
        left: 50%;
        width: 70px;
        height: 14px;
        font-family: 'Metropolis', sans-serif;
        font-size: 10px;
        letter-spacing: 0.125em;
        transform: rotate(-90deg) translateX(-50%);
        transform-origin: left;
        color: #ffffff;
        padding: 0 0 0 10px;
        &:before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 10px;
          height: 10px;
          border-top: 1px solid #ffffff;
          border-left: 1px solid #ffffff;
          transform: rotate(-45deg) skew(calc((90deg - 67deg) / 2), calc((90deg - 67deg) / 2));
        }
        &:after {
          content: '';
          position: absolute;
          top: 2px;
          left: 4.5px;
          width: 1px;
          height: 10px;
          background-color: #ffffff;
        }
      }
    }
    &.flex-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      margin: 0 0 -17px;
    }
    canvas {
      width: 100%;
      height: 65%!important;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

@include min-screen($breakpoint-tb){
  .page.home {
    section {
      &.hero {
        position: relative;
        .bg_video {
          position: fixed;
          top: 50%;
          left: 50%;
          /* width: 100%; */
          min-height: 100%;
          min-width: 100%;
          z-index: -2;
          height: 100%;
          transform: translate(-50%,-50%);
          &:after {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #282828;
            opacity: .5;
            top: 0;
            left: 0;
            content: '';
          }
          video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
          .video__clip {
            width: 100%;
            position: relative;
            height: 100%;
            overflow: hidden;
            clip-path: url(#mask);
            //z-index: -1;
            video {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-48%);
            }
            svg {
              //position: absolute;
              //top: 50%;
              //left: 50%;
              //transform: translate(-50%,-50%);
            }
            #mask {
              //transform: scale(3);
            }
          }
        }
        .copy {
          position: relative;
          z-index: 10;
          //top: 230px;
          //left: 50%;
          //transform: translateX(-50%);
          h1 {
            font-family: 'URWDINCond', sans-serif;
            font-size: 95.31px;
            font-weight: bold;
            line-height: 95.84px;
            letter-spacing: 0.075em;
            color: #ffffff;
            text-align: center;
            span {
              display: block;
              font-size: 68.94px;
              line-height: 84.1px;
              letter-spacing: 0.055em;
            }
          }
          h2 {
            font-size: 23px;
            font-weight: bold;
            line-height: 47.61px;
            letter-spacing: 0.125em;
            color: #ffffff;
            text-align: center;
          }
        }
        .btn__scroll {
          position: absolute;
          bottom: 80px;
          left: 50%;
          width: 70px;
          height: 14px;
          font-family: 'Metropolis', sans-serif;
          font-size: 10px;
          letter-spacing: 0.125em;
          transform: rotate(-90deg) translateX(-50%);
          transform-origin: left;
          color: #ffffff;
          padding: 0 0 0 10px;
          &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 10px;
            height: 10px;
            border-top: 1px solid #ffffff;
            border-left: 1px solid #ffffff;
            transform: rotate(-45deg) skew(calc((90deg - 67deg) / 2), calc((90deg - 67deg) / 2));
          }
          &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 4.5px;
            width: 1px;
            height: 10px;
            background-color: #ffffff;
          }
        }
      }
      &.flex-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        margin: 0;
      }
      canvas {
        position: absolute;
        height: 100%!important;
      }
    }
  }
}