.page.philosophy.lang-en {
  section.keyword {
    .keyword__wrapper h2 {
      font-family: "Estandar", "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
      letter-spacing: 0.07em;
    }
  }
}

.page.philosophy {
  section {
    .leadblock01 {
      padding: 120px 130px 80px;
      &__content {
      }
    }
    &.keyword {
      position: relative;
      height: 650px;
      background-color: #e5e8ed;
      br.only-sp {
        display: block;
      }
       //&:before {
      //  position: absolute;
      //  top: 0;
      //  left: 50%;
      //  content: '';
      //  width: 100%;
      //  padding-top: 54.83%;
      //  background-image: url('/assets/images/philosophy/kantetsu.png');
      //  background-repeat: no-repeat;
      //  background-size: contain;
      //  transform: translateX(-50%);
      //}
      .keyword__wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        img {
          max-width: 775px;
          width: 100%;
          margin: 0 auto;
          padding: 0 17px;
        }
        h3 {
          text-align: center;
          color: #927b5d;
          font-family: 'Metropolis', sans-serif;
          font-size: 17px;
          line-height: 48px;
          letter-spacing: 0.44em;
          font-weight: bold;
        }
        h2 {
          font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
          text-align: center;
          color: #5f5f5f;
          font-size: 20px;
          font-weight: bold;
          line-height: 48px;
          letter-spacing: 0.14em;
        }
      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .page.philosophy {
    section {
      .leadblock01 {
        padding: 120px 130px 80px;
        &__content {
        }
      }
      &.keyword {
        height: 1000px;
        br.only-sp {
          display: none;
        }
        //&:before {
        //  top: 0;
        //  left: 50%;
        //  width: 775px;
        //  height: 425px;
        //  padding-top: 0;
        //  background-image: url('/assets/images/philosophy/kantetsu.png');
        //  transform: translateX(-50%);
        //}
        .keyword__wrapper {
          top: 50%;
          transform: translateY(-50%);
          padding: 0 0 200px;
          h3 {
            font-size: 20.25px;
            line-height: 48px;
            letter-spacing: 0.44em;
          }
          h2 {
            font-size: 31.02px;
            line-height: 48px;
            letter-spacing: 0.14em;
          }
        }
      }
    }
  }
}