.page.products.lang-en {
  section.products_main {
    h2 {
      padding: 0 20px 0;
      font-family: "Estandar", "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
    }
  }
  .leadblock01 .products_solution li h3 {
    letter-spacing: 0.06em;
  }
}

.page.products {
  section {
    &.products_main {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 190px;
      background-color: #927b5d;
      h2 {
        font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
        font-size: 13.32px;
        line-height: 28.65px;
        letter-spacing: 0.14em;
        color: #fff;
        text-align: center;
      }
    }
    .leadblock01 {
      padding: 50px 27.5px 40px;
      .leadblock01__heading {
        h2 {
          &:before {
            width: 100%;
            left: 0;
          }
        }
      }
      .products_use {
        picture {
          padding: 15px 0;
          display: block;
          img {
            margin: 0 auto;
            max-width: 100%;
            width: auto;
          }
        }
      }
      .products_type {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        li {
          width: calc(50% - 22px);
          padding: 25px 0 0;
          h3 {
            font-size: 12px;
            font-weight: normal;
            line-height: 21.5px;
            letter-spacing: 0.025em;
            display: block;
            border-bottom: 1px solid #8a8a8a;
            &:before {
              content: attr(data-num);
              display: inline-block;
            }
          }
          p {
            font-size: 13px;
            letter-spacing: 0.025em;
            line-height: 19px;
            word-wrap: break-word;
          }
        }
      }
      .products_type_caption {
        font-size: 12px;
        font-weight: normal;
        line-height: 21.5px;
        letter-spacing: 0.025em;
        display: block;
        margin: 20px 0 0;
      }
      .products_available {
        .type {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0;
          margin: 27.5px 0 0;
          li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 10px;
            line-height: 14px;
            margin: 0 7px 0 0;
            &:before {
              content: '';
              display: inline-block;
              border: 1px solid #131313;
              width: 20px;
              height: 10px;
              margin: 0 5px 0 0;
            }
            &:nth-child(1){&:before {background-color: #c4b19b;}}
            &:nth-child(2){&:before {background-color: #ffffff;}}
            &:nth-child(3){&:before {background-color: #9ab1cc;}}
            &:nth-child(4){&:before {background-color: #d1cfcf;}}
          }
        }
        .area {
          li {
            margin: 40px 0;
            h3 {
              position: relative;
              display: inline-block;
              font-size: 11px;
              line-height: 15px;
              letter-spacing: 0.14em;
              padding: 5px 20px 5px 5px;
              color: #ffffff;
              height: 26px;
              background-color: #927b5d;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 200%;
                height: 26px;
                background-color: #927b5d;
                transform: translateX(-99%);
              }
            }
            picture {
              display: block;
              margin: 26px 0 0;
              img {
                width: auto;
                max-width: 100%;
              }
            }
          }
        }
      }
      .products_solution {
        li {
          position: relative;
          width: 100%;
          padding: 0 14px;
          margin: 30px 0 35px;
          border-left: 2px solid #927b5d;
          h3 {
            font-size: 14px;
            font-weight: bold;
            line-height: 27px;
            letter-spacing: 0.14em;
            color: #927b5d;
          }
          p {
            display: block;
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 0.025em;
          }
          > div {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 5px 0 10px;
            picture {
              margin: 0 10px 0 0;
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .page.products {
    section {
      &.products_main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 381px;
        h2 {
          font-size: 26.64px;
          line-height: 53.71px;
          letter-spacing: 0.14em;
        }
      }
      .leadblock01 {
        padding: 100px 130px 80px;
        .products_use {
          picture {
            padding: 30px 0;
            img {
              max-width: 100%;
              width: auto;
            }
          }
        }
        .products_type {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap;
          li {
            width: calc(50% - 22px);
            padding: 50px 0 0;
            h3 {
              font-size: 24px;
              line-height: 43px;
              letter-spacing: 0.025em;
            }
            p {
              font-size: 17px;
              letter-spacing: 0.025em;
              line-height: 38px;
            }
          }
        }
        .products_type_caption {
          font-size: 16px;
          line-height: 43px;
          letter-spacing: 0.025em;
          display: block;
          margin: 40px 0 0;
        }
        .products_available {
          .type {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 100px;
            margin: 55px 0 0;
            li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 16px;
              line-height: 18.4px;
              margin: 0;
              &:before {
                width: 55px;
                height: 27px;
                margin: 0 10px 0 0;
              }
            }
          }
          .area {
            li {
              margin: 80px 0;
              h3 {
                font-size: 22.25px;
                line-height: 43.55px;
                letter-spacing: 0.14em;
                padding: 5px 40px 5px 5px;
                height: 52px;
                &:before {
                  width: 200%;
                  height: 52px;
                  transform: translateX(-99%);
                }
              }
              picture {
                margin: 53px 0 0;
                img {
                  width: auto;
                  max-width: 100%;
                }
              }
            }
          }
        }
        .products_solution {
          li {
            width: 100%;
            padding: 0 28px;
            margin: 60px 0 70px;
            h3 {
              font-size: 27.86px;
              font-weight: bold;
              line-height: 54.54px;
              letter-spacing: 0.14em;
            }
            p {
              display: block;
              font-size: 16px;
              line-height: 30px;
              letter-spacing: 0.025em;
            }
            > div {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              padding: 10px 0 20px;
              picture {
                margin: 0 20px 0 0;
                img {
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}