.page.recruit.lang-en {
  .leadblock01__content {
    .jointo {
      > div {
        h3 {
          font-family: "Estandar", "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
        }
      }
    }
    .dataof {
      ul {
        li {
          &:nth-child(1){background-image: url("/assets/images/recruit/en/bg_dataof01.png");
            &:before { background-image: url("/assets/images/recruit/en/ov_dataof01.png"); } }
          &:nth-child(2) {background-image: url("/assets/images/recruit/en/bg_dataof02.png");
            &:before {background-image: url("/assets/images/recruit/en/ov_dataof02.png");} }
          &:nth-child(3){ background-image: url("/assets/images/recruit/en/bg_dataof03.png");
            &:before { background-image: url("/assets/images/recruit/en/ov_dataof03.png"); } }
          &:nth-child(4){ background-image: url("/assets/images/recruit/en/bg_dataof04.png");
            &:before { background-image: url("/assets/images/recruit/en/ov_dataof04.png"); } }
          &:nth-child(5){ background-image: url("/assets/images/recruit/en/bg_dataof05.png");
            &:before { background-image: url("/assets/images/recruit/en/ov_dataof05.png"); } }
          &:nth-child(6){ background-image: url("/assets/images/recruit/en/bg_dataof06.png");
            &:before { background-image: url("/assets/images/recruit/en/ov_dataof06.png"); } }
          &:nth-child(7){ background-image: url("/assets/images/recruit/en/bg_dataof07.png");
            &:before { background-image: url("/assets/images/recruit/en/ov_dataof07.png"); } }
          &:nth-child(8){ background-image: url("/assets/images/recruit/en/bg_dataof08.png");
            &:before { background-image: url("/assets/images/recruit/en/ov_dataof08.png"); } }
        }
      }
    }
  }
}

.page.recruit {
  section {
    .leadblock01 {
      &__heading {
        padding: 90px 30px 80px;
      }
      &__content {
        .jointo {
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          flex-direction: column;
          padding: 45px 0 0;
          > div {
            margin: -85px 0 0;
            width: 95%;
            height: auto;
            padding: 35px 17px;
            box-sizing: border-box;
            background-color: #191d23;
            h3 {
              font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
              font-size: 19px;
              font-weight: bold;
              line-height: 35px;
              letter-spacing: 0.14em;
              color: #ffffff;
            }
            p {
              padding: 35px 0 0;
              font-size: 13px;
              line-height: 27px;
              letter-spacing: 0.025em;
              color: #babcc0;
            }
          }
          figure {
            margin: 0 0 0 auto;
            width: 95%;
            padding-top: 95%;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }

        .dataof {
          ul {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0 17px;
            li {
              width: 50%;
              position: relative;
              padding-top: 46.7%;
              background-size: contain;
              background-repeat: no-repeat;
              border-top: 1px solid #ffffff;
              border-right: 2px solid #ffffff;
              transition: all 500ms;
              overflow: hidden;
              &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 2;
                //transform: translateX(-100%);
                opacity: 0;
                transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
              }
              &:after {
                position: absolute;
                width: 75%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: attr(data-of);
                font-size: 18px;
                line-height: 31.34px;
                letter-spacing: 0.025em;
                color: #ffffff;
                opacity: 0;
                transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
                z-index: 4;
              }
              &:nth-child(1){
                background-image: url("/assets/images/recruit/bg_dataof01.png");
                &:before { background-image: url("/assets/images/recruit/ov_dataof01.png"); }
                span:nth-child(1) {
                  font-size: 60px;
                }
                span:nth-child(2) {
                  margin: 25px 0 0 2.5px;
                }
              }
              &:nth-child(2){ background-image: url("/assets/images/recruit/bg_dataof02.png");
                &:before { background-image: url("/assets/images/recruit/ov_dataof02.png"); }
                p {
                  flex-wrap: wrap;
                  flex-direction: column;
                  span:nth-child(2) {
                    font-size: 32.5px;
                  }
                }}
              &:nth-child(3){ background-image: url("/assets/images/recruit/bg_dataof03.png");
                &:before { background-image: url("/assets/images/recruit/ov_dataof03.png"); }
                span:nth-child(1) {
                  font-size: 60px;
                }
                span:nth-child(2) {
                  margin: 25px 0 0 2.5px;
                }
              }
              &:nth-child(4){ background-image: url("/assets/images/recruit/bg_dataof04.png");
                &:before { background-image: url("/assets/images/recruit/ov_dataof04.png"); }
                p {
                  flex-direction: column;
                  span {
                    font-size: 32px;
                  }
                }}
              &:nth-child(5){ background-image: url("/assets/images/recruit/bg_dataof05.png");
                &:before { background-image: url("/assets/images/recruit/ov_dataof05.png"); }
                p {
                  flex-direction: column;
                  span:nth-child(1) {
                    font-size: 35px;
                  }
                }}
              &:nth-child(6){ background-image: url("/assets/images/recruit/bg_dataof06.png");
                &:before { background-image: url("/assets/images/recruit/ov_dataof06.png"); }
                span {
                  font-size: 60px;
                }}
              &:nth-child(7){ background-image: url("/assets/images/recruit/bg_dataof07.png");
                &:before { background-image: url("/assets/images/recruit/ov_dataof07.png"); }
                p {
                  flex-direction: column;
                  span:nth-child(2) {
                    font-size: 35px;
                  }
                }}
              &:nth-child(8){ background-image: url("/assets/images/recruit/bg_dataof08.png");
                &:before { background-image: url("/assets/images/recruit/ov_dataof08.png"); }
                span {
                  font-size: 60px;
                }}
              p {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                font-family: "Measure", sans-serif;
                font-weight: bold;
                font-size: 22.3px;
              }
            }
          }
        }

        .infomation {
          padding: 0 17px;
          .listblock01 {
            padding-top: 0;
          }
          .btn__more {
            position: relative;
            display: inline-block;
            margin: 20px auto 80px;
            left: 50%;
            transform: translateX(-50%);
            &:hover {
              &:before, &:after {
                background-color: #927b5d;
              }
              a {
                background-color: #927b5d;
                color: #ffffff;
                &:after {
                  left: 53px;
                  width: 10px;
                  background-color: #ffffff;
                }
              }
            }
            &:before {
              right: -17px;
              border-top: 1px solid #aaa9a8;
              border-right: 1px solid #aaa9a8;
            }
            &:after {
              left: -17px;
              border-bottom: 1px solid #aaa9a8;
              border-left: 1px solid #aaa9a8;
            }
            &:before, &:after {
              position: absolute;
              content: '';
              transform: rotate(54deg) skewX(20deg);
              width: 34px;
              height: 34px;
              top: 12px;
              //transition: all 200ms;
              background-color: transparent;
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              border-top: 1px solid #aaa9a8;
              border-bottom: 1px solid #aaa9a8;
              height: 58px;
              font-family: "Metropolis", sans-serif;
              padding: 0 75px;
              font-size: 11px;
              color: #927b5d;
              //transition: all 200ms;
              &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 43px;
                transform: translateY(-50%);
                width: 21px;
                height: 1px;
                background-color: #927b5d;
                transition: all 500ms 100ms;
              }
            }
          }
        }

      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .page.recruit {
    section {
      .leadblock01 {
        &__heading {
          padding: 120px 130px 80px;
        }
        &__content {
          .jointo {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: row;
            padding: 45px 0 0;
            > div {
              margin: -85px 0 0;
              width: 50%;
              min-height: 800px;
              padding: 70px 50px 70px 80px;
              h3 {
                font-size: 26.64px;
                line-height: 41.14px;
                letter-spacing: 0.14em;
              }
              p {
                padding: 70px 0 0;
                font-size: 18px;
                line-height: 36.16px;
                letter-spacing: 0.025em;
              }
            }
            figure {
              width: 50%;
              height: 750px;
              padding-top: 0;
            }
          }

          .dataof {
            ul {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-wrap: wrap;
              padding: 0;
              li {
                width: 25%;
                padding-top: 23.4%;
                border-top: 1px solid #ffffff;
                border-right: 2px solid #ffffff;
                transition: all 500ms;
                &:before {
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  opacity: 0;
                  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
                }
                &:after {
                  width: 75%;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  font-size: 18px;
                  line-height: 31.34px;
                  letter-spacing: 0.025em;
                  opacity: 0;
                  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
                  z-index: 4;
                }
                &:hover {
                  &:before {
                    opacity: 1;
                  }
                  &:after {
                    opacity: 1;
                  }
                }
                &:nth-child(1){ background-image: url("/assets/images/recruit/bg_dataof01.png");
                  span:nth-child(1) {
                    font-size: 119.15px;
                  }
                  span:nth-child(2) {
                    margin: 50px 0 0 5px;
                  }
                }
                &:nth-child(2){ background-image: url("/assets/images/recruit/bg_dataof02.png");
                  p {
                    flex-wrap: wrap;
                    flex-direction: column;
                    span:nth-child(2) {
                      font-size: 65px;
                    }
                  }}
                &:nth-child(3){ background-image: url("/assets/images/recruit/bg_dataof03.png");
                  span:nth-child(1) {
                    font-size: 119.15px;
                  }
                  span:nth-child(2) {
                    margin: 50px 0 0 5px;
                  }
                }
                &:nth-child(4){ background-image: url("/assets/images/recruit/bg_dataof04.png");
                  p {
                    flex-direction: column;
                    span {
                      font-size: 64.13px;
                    }
                  }}
                &:nth-child(5){ background-image: url("/assets/images/recruit/bg_dataof05.png");
                  p {
                    flex-direction: column;
                    span:nth-child(1) {
                      font-size: 69px;
                    }
                  }}
                &:nth-child(6){ background-image: url("/assets/images/recruit/bg_dataof06.png");
                  span {
                    font-size: 119.15px;
                  }}
                &:nth-child(7){ background-image: url("/assets/images/recruit/bg_dataof07.png");
                  p {
                    flex-direction: column;
                    span:nth-child(2) {
                      font-size: 69px;
                    }
                  }}
                &:nth-child(8){ background-image: url("/assets/images/recruit/bg_dataof08.png");
                  span {
                    font-size: 119.15px;
                  }}
                p {
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 44.61px;
                }
              }
            }
          }

          .infomation {
            padding: 0;
            .listblock01 {
              padding-top: 0;
            }
            .btn__more {
              display: inline-block;
              margin: 0 20px 80px;
              left: 50%;
              transform: translateX(-50%);
              &:hover {
                a {
                  &:after {
                    left: 53px;
                    width: 10px;
                  }
                }
              }
              &:before {
                right: -17px;
                border-top: 1px solid #aaa9a8;
                border-right: 1px solid #aaa9a8;
              }
              &:after {
                left: -17px;
                border-bottom: 1px solid #aaa9a8;
                border-left: 1px solid #aaa9a8;
              }
              &:before, &:after {
                transform: rotate(54deg) skewX(20deg);
                width: 34px;
                height: 34px;
                top: 12px;
                background-color: transparent;
              }
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #aaa9a8;
                border-bottom: 1px solid #aaa9a8;
                height: 58px;
                padding: 0 75px;
                font-size: 14px;
                &:after {
                  top: 50%;
                  left: 43px;
                  transform: translateY(-50%);
                  width: 21px;
                  height: 1px;
                  transition: all 500ms 100ms;
                }
              }
            }
          }
        }
      }
    }
  }
}
.ReactModal__Overlay {
  z-index: 50;
  background-color: rgba(26,30,36,.95)!important;
  .ReactModal__Content.modal-recruit{
    position: absolute;
    width: 100%;
    height: 58%;
    background-color: transparent;
    &:focus {
      outline: none;
    }
    .dataof__modal {
      .image {
        width: 92%;
        padding-top: 72.82%;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
      }
      button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 47px;
        height: 47px;
        &:before, &:after {
          position: absolute;
          content: '';
          width: 33px;
          height: 2px;
          background-color: #ffffff;
          transform-origin: center;
          top: 50%;
          left: 50%;
        }
        &:before {
          transform: translate(-50%,-50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%,-50%) rotate(-45deg)
        }
      }
    }
  }
}
