.page.technologies.lang-en {
  section.products_main {
    h2 {
      font-family: "Estandar", "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
    }
  }
  .heroblock04 p {
    padding: 35px 20px 0;
  }
  .btn__more a:after {
    display: none;
  }
  section .leadblock02__content .columnblock02 .columnblock02__wrap02 h3 {
    letter-spacing: 0.06em;
  }
}

.page.technologies {
  section {
    &.products_main {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 190px;
      background-color: #927b5d;
      h2 {
        font-family: "見出ゴMB1","Midashi Go MB1", "Yu Gothic", YuGothic, sans-serif;
        font-size: 13.32px;
        line-height: 28.65px;
        letter-spacing: 0.14em;
        color: #fff;
        text-align: center;
      }
    }
    .links {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 10px 0 0;
      flex-direction: column;
      > div {
        width: 100%;
        text-align: center;
      }
    }
    .btn__more {
      position: relative;
      display: block;
      margin: 25px 0 0;
      left: 50%;
      width: calc(100% - 78px);
      transform: translateX(-50%);
      a {
        > img {
          width: 13px;
          height: 18px;
          margin: 0 0 0 5px;
          display: inline-block;
        }
      }
      &.is-disabled {
        &:hover {
          &:before, &:after {
            background-color: transparent;
          }
          a {
            background-color: transparent;
            color: #ffffff;
            &:after {
              left: 43px;
              width: 20px;
              background-color: #927b5d;
            }
          }
        }
      }
      &:hover {
        &:before, &:after {
          background-color: #927b5d;
        }
        a {
          background-color: #927b5d;
          color: #ffffff;
          &:after {
            left: 20px;
            width: 5px;
            background-color: #ffffff;
          }
        }
      }
      &:before {
        right: -17px;
        border-top: 1px solid #aaa9a8;
        border-right: 1px solid #aaa9a8;
      }
      &:after {
        left: -17px;
        border-bottom: 1px solid #aaa9a8;
        border-left: 1px solid #aaa9a8;
      }
      &:before, &:after {
        position: absolute;
        content: '';
        transform: rotate(54deg) skewX(20deg);
        width: 34px;
        height: 34px;
        top: 12px;
        //transition: all 200ms;
        background-color: transparent;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #aaa9a8;
        border-bottom: 1px solid #aaa9a8;
        height: 58px;
        font-family: "Metropolis", sans-serif;
        padding: 0;
        font-size: 13px;
        color: #ffffff;
        //transition: all 200ms;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          width: 10px;
          height: 1px;
          background-color: #927b5d;
          transition: all 500ms 100ms;
        }
      }
    }
    .spec_table {
      width: 100%;
      padding: 15px 0 0;
      border-spacing: 0;
      &.adjust_cutting_table {
        width: 41.7%;
      }
      &.col_4 {
        th {
          width: calc(100% / 3);
        }
        td {
          width: calc(100% / 3);
        }
        .borderleft {
          border-left: 1px solid #cdd2db;
        }
      }
      &.col_5 {
        tr {
          th.rowhead {
            width: 20%;
          }
        }
      }
      tr.head {
        th {
          background-color: #ebebeb;
        }
      }
      tr {
        th.rowhead {
          background-color: #e8e3dd;
        }
        th.second {
          border-left: 1px solid #cdd2db;
          background-color: #f1eee9;
        }
        th.colhead {
          background-color: #c1c7d0;
        }
        &:first-child {
          th,td {
            border-top: 1px solid #cdd2db;
          }
        }
      }
      th,td {
        border-bottom: 1px solid #cdd2db;
        padding: 7.5px 5px;
        vertical-align: center;
        text-align: center;
        font-size: 9px;
        font-weight: normal;
        color: #181c22;
      }
    }
    .heroblock04 {
      background-color: #ffffff;
      height: auto;
      padding: 62.5px 0;
      h1 {
        font-size: 19px;
        font-weight: bold;
        line-height: 35px;
        letter-spacing: 0.14em;
        color: #927b5d;
      }
      p {
        padding: 35px 0 0;
        font-size: 13px;
        line-height: 27px;
        letter-spacing: 0.025em;
      }
    }
    .leadblock03 {
      padding: 60px 17px 0;
      &.last {
        padding: 60px 17px;
      }
    }
    .leadblock02 {
      padding: 0;
      &.last {
        .columnblock03 {
          padding: 60px 17px;
        }
      }
      &__content {
        .columnblock02 {
          padding: 60px 17px 0;
          &.is-reverse {
            flex-direction: column-reverse;
          }
          .columnblock02__wrap01 {
            padding: 60px 0 0;
            figure {
              img {
                width: auto;
              }
            }
          }
          .columnblock02__wrap02 {
            h3 {
              font-size: 19px;
              line-height: 35px;
              letter-spacing: 0.14em;
              font-weight: bold;
              color: #927b5d;
              padding: 0 0 20px;
            }
          }
        }
        .columnblock03 {
          padding: 60px 17px 0;
          &.col_8-4 {
            > div {
              .big {
                display: flex;
                justify-content: space-between;
                > div {
                  width: calc(100% / 2 - 13.5px);
                }
              }
            }
          }
        }
      }
    }
    .leadblock01 {
      padding: 50px 17px 40px;
      .leadblock01__heading {
        h2 {
          &:before {
            width: 100%;
            left: 0;
          }
        }
      }
      .technology_quality {
        li {
          position: relative;
          width: 100%;
          padding: 0 14px;
          margin: 30px 0 35px;
          border-left: 2px solid #927b5d;
          h3 {
            font-size: 14px;
            font-weight: bold;
            line-height: 27px;
            letter-spacing: 0.14em;
            color: #927b5d;
          }
          p {
            display: block;
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 0.025em;
          }
          > div {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 5px 0 10px;
            picture {
              margin: 0 10px 0 0;
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
      .technology_process {
        .factory {
          li {
            position: relative;
            margin: 70px 0 0;
            padding: 40px 8px;
            background-image: url('/assets/images/bg_block-bk.png');
            h3 {
              position: absolute;
              display: inline-block;
              font-size: 15px;
              line-height: 15px;
              letter-spacing: 0.14em;
              padding: 5px 20px 5px 5px;
              color: #ffffff;
              height: 26px;
              top: -13px;
              background-color: #927b5d;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 200%;
                height: 26px;
                background-color: #927b5d;
                transform: translateX(-99%);
              }
            }
            p {
              font-size: 13px;
              line-height: 26px;
              color: #fff;
              letter-spacing: 0.025em;
            }
            picture.process_image {
              display: block;
              padding: 20px 70px;
              img {
                position: relative;
                left: 10%;
                max-width: 100%;
                width: auto;
                margin: 0 auto;
              }
            }
            .factory_photos {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              flex-direction: column;
              picture {
                margin: 13px 0 0;
                width: 100%;
                img {
                  padding: 0 24px;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }

    }
  }
}

@include min-screen($breakpoint-tb){
  .page.technologies {
    section {
      &.products_main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 381px;
        h2 {
          font-size: 26.64px;
          line-height: 53.71px;
          letter-spacing: 0.14em;
        }
      }
      .links {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        margin: 50px 0 0;
        > div {
          width: calc(100% / 3);
          text-align: center;
        }
      }
      .btn__more {
        display: inline-block;
        margin: 0 20px;
        left: auto;
        transform: translateX(0);
        &:hover {
          &:before, &:after {
            background-color: #927b5d;
          }
          a {
            background-color: #927b5d;
            color: #ffffff;
            &:after {
              left: 10px;
              width: 10px;
              background-color: #ffffff;
            }
          }
        }
        &:before {
          right: -17px;
          border-top: 1px solid #aaa9a8;
          border-right: 1px solid #aaa9a8;
        }
        &:after {
          left: -17px;
          border-bottom: 1px solid #aaa9a8;
          border-left: 1px solid #aaa9a8;
        }
        &:before, &:after {
          transform: rotate(54deg) skewX(20deg);
          width: 34px;
          height: 34px;
          top: 12px;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid #aaa9a8;
          border-bottom: 1px solid #aaa9a8;
          width: auto;
          height: 58px;
          padding: 0 20px 0 35px;
          font-size: 14px;
          &:after {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 21px;
            height: 1px;
            z-index: 10;
          }
        }
      }
      .spec_table {
        width: 100%;
        padding: 30px 0 0;
        border-spacing: 0;
        &.adjust_cutting_table {
          width: 41.7%;
        }
        &.col_4 {
          th {
            width: calc(100% / 3);
          }
          td {
            width: calc(100% / 3);
          }
          .borderleft {
            border-left: 1px solid #cdd2db;
          }
        }
        &.col_5 {
          tr {
            th.rowhead {
              width: 20%;
            }
          }
        }
        tr.head {
          th {
            background-color: #ebebeb;
          }
        }
        tr {
          th.rowhead {
            background-color: #e8e3dd;
          }
          th.second {
            border-left: 1px solid #cdd2db;
            background-color: #f1eee9;
          }
          th.colhead {
            background-color: #c1c7d0;
          }
          &:first-child {
            th,td {
              border-top: 1px solid #cdd2db;
            }
          }
        }
        th,td {
          border-bottom: 1px solid #cdd2db;
          padding: 15px 10px;
          vertical-align: center;
          text-align: center;
          font-size: 18px;
          font-weight: normal;
          color: #181c22;
        }
      }
      .heroblock04 {
        background-color: #ffffff;
        height: auto;
        padding: 125px 0;
        h1 {
          font-size: 26.6px;
          font-weight: bold;
          line-height: 53.7px;
          letter-spacing: 0.14em;
          color: #927b5d;
        }
        p {
          padding: 70px 0 0;
          font-size: 18px;
          line-height: 36px;
          letter-spacing: 0.025em;
        }
      }
      .leadblock03 {
        padding: 100px 130px 0;
        &.last {
          padding: 100px 130px;
        }
      }
      .leadblock02 {
        padding: 100px 130px 0;
        &.last {
          padding: 100px 130px;
        }
        &__content {
          .columnblock02 {
            &.is-reverse {
              flex-direction: row-reverse;
            }
            .columnblock02__wrap01 {
              padding: 0;
              figure {
                img {
                  width: auto;
                }
              }
            }
            .columnblock02__wrap02 {
              h3 {
                font-size: 26.64px;
                line-height: 53.71px;
                letter-spacing: 0.14em;
                font-weight: bold;
                color: #927b5d;
                padding: 0 0 20px;
              }
            }
          }
          .columnblock03 {
            padding: 0;
            &.col_8-4 {
              > div {
                .big {
                  display: flex;
                  justify-content: space-between;
                  > div {
                    width: calc(100% / 2 - 32.5px);
                  }
                }
              }
            }
          }
        }
      }
      .leadblock01 {
        padding: 100px 130px 80px;
        .products_use {
          picture {
            padding: 30px 0;
            img {
              max-width: 100%;
              width: auto;
            }
          }
        }
        .technology_quality {
          li {
            width: 100%;
            padding: 0 28px;
            margin: 60px 0 70px;
            h3 {
              font-size: 27.86px;
              font-weight: bold;
              line-height: 54.54px;
              letter-spacing: 0.14em;
            }
            p {
              display: block;
              font-size: 16px;
              line-height: 30px;
              letter-spacing: 0.025em;
            }
            > div {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              padding: 10px 0 20px;
              picture {
                margin: 0 20px 0 0;
                img {
                  max-width: 100%;
                }
              }
            }
          }
        }
        .technology_process {
          .factory {
            li {
              position: relative;
              margin: 156px 0 0;
              h3 {
                position: absolute;
                font-size: 22.25px;
                line-height: 43.55px;
                letter-spacing: 0.14em;
                padding: 5px 40px 5px 5px;
                height: 52px;
                top: -25px;
                left: 0;
                &:before {
                  width: 200%;
                  height: 52px;
                  transform: translateX(-99%);
                }
              }
              p {
                font-size: 17px;
                line-height: 36px;
                color: #fff;
                letter-spacing: 0.025em;
              }
              picture.process_image {
                margin: 35px 0 0;
                img {
                  position: relative;
                  left: 0;
                }
              }
              .factory_photos {
                margin: 50px 0 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: row;
                picture {
                  margin: 0;
                  padding: 0;
                  width: calc(50% - 13px);
                }
              }
            }
          }
        }
      }
    }
  }
}