.lang-en {
  .page.vision {
    section {
      .deco2 {
        bottom: -1940px;
        @include min-screen($breakpoint-tb) {
          bottom: -1760px;
        }
      }
    }
  }
}

.page.vision {
  background: #ffffff;
  section {
    position: relative;
    overflow: hidden;
    .deco1 {
      position: absolute;
      bottom: 2550px;
      right: -600px;
      width: 1200px;
      height: 1200px;
      background: url(/assets/images/bg_pattarn-bw.png);
      transform: rotate(-45deg) skew(calc((90deg - 67deg) / 2), calc((90deg - 67deg) / 2));
      overflow: hidden;
    }
    .deco2 {
      position: absolute;
      bottom: -2180px;
      right: -1650px;
      width: 3300px;
      height: 3300px;
      background: url(/assets/images/bg_pattern-bk.png);
      transform: rotate(-45deg) skew(calc((90deg - 67deg) / 2), calc((90deg - 67deg) / 2));
      overflow: hidden;
    }
    .heroblock05 {
      &:before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 320px;
        width: calc(100% - 34px);
        padding-top: 65.64%;
        top: 330px;
      }
    }
    .vision-01 {
      height: auto;
      padding: 185px 0 0;
      .heroblock05__heading {
        margin: 0 0 0 12px;
        padding: 0 0 0 90px;
      }
      .heroblock05__content {
      }
      &:before {
        left: 50%;
        transform: translateX(-50%);
        background-image: url('/assets/images/vision/sp_photo01.png');
      }
    }
    .vision-02 {
      height: auto;
      .heroblock05__heading {
        left: 0;
      }
      .heroblock05__content {
        left: 0;
      }
      &:before {
        top: 220px;
        background-image: url('/assets/images/vision/sp_photo02.png');
      }
    }
    .vision-03 {
      height: auto;
      .heroblock05__heading {
        margin: 0;
      }
      .heroblock05__content {
      }
      &:before {
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('/assets/images/vision/sp_photo03.png');
      }
    }
    .vision-04 {
      height: auto;
      .heroblock05__heading {
        left: 0;
      }
      .heroblock05__content {
        left: 0;
      }
      &:before {
        top: 240px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('/assets/images/vision/sp_photo04.png');
      }
    }
  }
}

@include min-screen($breakpoint-tb){
  .page.vision {
    background: #ffffff;
    section {
      position: relative;
      overflow: hidden;
      .deco1 {
        position: absolute;
        bottom: 2000px;
        right: -1050px;
        width: 2100px;
        height: 2100px;
        background: url(/assets/images/bg_pattarn-bw.png);
        transform: rotate(-45deg) skew(calc((90deg - 67deg) / 2), calc((90deg - 67deg) / 2));
        overflow: hidden;
      }
      .deco2 {
        position: absolute;
        bottom: -1760px;
        right: -1650px;
        width: 3300px;
        height: 3300px;
        background: url(/assets/images/bg_pattern-bk.png);
        transform: rotate(-45deg) skew(calc((90deg - 67deg) / 2), calc((90deg - 67deg) / 2));
        overflow: hidden;
      }
      .heroblock05 {
        &:before {
          content: '';
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
          top: auto;
          left: auto;
          transform: translateX(0);
          max-width: 100%;
        }
      }
      .vision-01 {
        height: 750px;
        padding: 0;
        .heroblock05__heading {
          margin: 0 0 0 70px;
          padding: 0 0 0 220px;
        }
        .heroblock05__content {
          margin: 0 0 0 70px;
        }
        &:before {
          top: 40px;
          right: -210px;
          width: 792px;
          height: 755px;
          background-image: url('/assets/images/vision/photo01.png');
        }
      }
      .vision-02 {
        height: 1000px;
        .heroblock05__heading {
          left: calc(50% - 220px);
        }
        .heroblock05__content {
          left: calc(50% - 220px);
        }
        &:before {
          top: 220px;
          left: 0;
          width: 549px;
          height: 604px;
          background-image: url('/assets/images/vision/photo02.png');
        }
      }
      .vision-03 {
        height: 650px;
        .heroblock05__heading {
          margin: 0 0 0 70px;
        }
        .heroblock05__content {
          margin: 0 0 0 70px;
        }
        &:before {
          top: -390px;
          right: 0;
          width: 675px;
          height: 728px;
          background-image: url('/assets/images/vision/photo03.png');
        }
      }
      .vision-04 {
        height: 1020px;
        .heroblock05__heading {
          left: calc(50% - 220px);
        }
        .heroblock05__content {
          left: calc(50% - 220px);
        }
        &:before {
          top: 240px;
          left: -210px;
          width: 1273px;
          height: 804px;
          background-image: url('/assets/images/vision/photo04.png');
        }
      }
    }
  }
}