html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  z-index: -10;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  border: none;
  background: none;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

figure {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

p {
  margin: 0;
}

.wrapper.lang-en {
   font-family: "Estandar";
 }