
section {

}

.missed {
  position: relative;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-family: "Estandar", sans-serif;
      font-size: 60px;
      text-align: center;
      color: #fff;
    }
    p {
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: #927b5d;
    }
  }
}